@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, figure, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  background: #FFF;
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

a img {
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* links */
/* YIQ color contrast */
/* type scale */
/*
   Compass YIQ Color Contrast
   https://github.com/easy-designs/yiq-color-contrast
   ========================================================================== */
html {
  font-size: 16px; }

body {
  background: #FFFFFF;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%; }

.text-xxl {
  /* hero main header */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #C38750;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 2.5rem;
  /* 40px */ }
  @media only screen and (min-width: 1024px) {
    .text-xxl {
      font-size: 5rem;
      /* 80px */ } }
  @media only screen and (min-width: 1440px) {
    .text-xxl {
      font-size: 7.5rem;
      /* 120px */ } }

.text-xl {
  /* hero subheader, section header  */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 1.875rem;
  /* 30px */ }
  @media only screen and (min-width: 1024px) {
    .text-xl {
      font-size: 2.5rem;
      /* 40px */ } }
  @media only screen and (min-width: 1440px) {
    .text-xl {
      font-size: 3.75rem;
      /* 60px */ } }

.text-l {
  /* link lists */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 1.33;
  letter-spacing: 0.02em;
  font-size: 1.25rem;
  /* 20px */ }
  @media only screen and (min-width: 1440px) {
    .text-l {
      font-size: 2.063rem;
      /* 33px */ } }

.text-m {
  /* section subheader */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 1.25rem;
  /* 20px */ }
  @media only screen and (min-width: 1440px) {
    .text-m {
      font-size: 1.875rem;
      /* 30px */ } }

.text-s {
  /* dates */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #C38750;
  line-height: 1.7;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  /* 14px */ }
  @media only screen and (min-width: 1440px) {
    .text-s {
      font-size: 1.625rem;
      /* 26px */ } }

.text-xs {
  /* team member titles */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #C38750;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  /* 14px */ }
  @media only screen and (min-width: 1440px) {
    .text-xs {
      font-size: 1.5rem;
      /* 24px */ } }

.text-xxs {
  /* paragraphs */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.25;
  letter-spacing: 0.02em;
  font-size: 0.875rem;
  /* 14px */ }
  @media only screen and (min-width: 1024px) {
    .text-xxs {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 1440px) {
    .text-xxs {
      line-height: 1.5;
      font-size: 1rem;
      /* 16px */ } }
  .text-xxs a {
    font-weight: 700;
    text-decoration: underline;
    color: #000000; }

.header-shadow {
  /* faded section header */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #F7F7F7;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 3.625rem;
  /* 58px */ }
  .header-shadow.dark {
    color: #242424; }
  @media only screen and (min-width: 1024px) {
    .header-shadow {
      font-size: 5.813rem;
      /* 93px */ } }
  @media only screen and (min-width: 1440px) {
    .header-shadow {
      font-size: 8.75rem;
      /* 140px */ } }

.all {
  font-size: 0.875rem; }
  @media only screen and (min-width: 1024px) {
    .all {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 1440px) {
    .all {
      font-size: 1rem; } }

@media only screen and (min-width: 1024px) {
  .formatted-text {
    margin-bottom: 20px; } }
.formatted-text p,
.formatted-text li {
  margin-bottom: 15px; }
  @media only screen and (min-width: 1024px) {
    .formatted-text p,
    .formatted-text li {
      margin-bottom: 15px; } }
  .formatted-text p:last-child,
  .formatted-text li:last-child {
    margin-bottom: 0; }
.formatted-text li {
  position: relative;
  padding-left: 25px; }
  @media only screen and (min-width: 1440px) {
    .formatted-text li {
      padding-left: 35px; } }
.formatted-text li:before {
  content: '•';
  color: #C38750;
  font-size: 2em;
  position: absolute;
  top: 9px;
  left: 0;
  line-height: 0; }
  @media only screen and (min-width: 1024px) {
    .formatted-text li:before {
      top: 8px; } }
  @media only screen and (min-width: 1440px) {
    .formatted-text li:before {
      top: 12px; } }

a {
  text-decoration: none; }

.link {
  text-decoration: underline; }

strong {
  font-weight: 700; }

.card {
  display: block; }
  .card .card-img-wrapper {
    width: 100%;
    padding-bottom: 84%;
    position: relative; }
  .card .card-img {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%; }
  .card .card-text {
    height: 95px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -5px; }
    @media only screen and (min-width: 1024px) {
      .card .card-text {
        height: 105px; } }
    @media only screen and (min-width: 1440px) {
      .card .card-text {
        height: 140px; } }
  .card .card-title {
    margin-bottom: 5px; }

.footer {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  flex-direction: column; }
  @media only screen and (min-width: 1024px) {
    .footer {
      height: 130px; } }
  @media only screen and (min-width: 1440px) {
    .footer {
      height: 200px; } }
  .footer .email {
    vertical-align: middle;
    width: 104px; }
    @media only screen and (min-width: 1024px) {
      .footer .email {
        width: 133px; } }
    @media only screen and (min-width: 1440px) {
      .footer .email {
        width: 157px; } }
  .footer .footer-text,
  .footer a {
    font-size: 0.625rem;
    /* 10px */
    color: #FFFFFF;
    font-weight: 400; }
    @media only screen and (min-width: 1024px) {
      .footer .footer-text,
      .footer a {
        font-size: 0.75rem;
        /* 12px */ } }
    @media only screen and (min-width: 1440px) {
      .footer .footer-text,
      .footer a {
        font-size: 1rem;
        /* 12px */ } }
  .footer .footer-text {
    text-align: center; }
  .footer a {
    font-weight: 700; }
  .footer .line {
    display: block; }
    @media only screen and (min-width: 1024px) {
      .footer .line {
        display: inline-block; } }

.hero {
  height: calc(100vh);
  width: 100vw;
  background: url("/images/hero-bg-mobile.png") no-repeat center/cover;
  /*background: url('/images/hero-bg-mobile.png') no-repeat center/cover;*/
  /* will need to update for prod */
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .hero {
      height: 670px;
      background: url("/images/hero-bg.png") no-repeat center/cover;
      /*background: url('/images/hero-bg.png') no-repeat center/cover;*/
      /* will need to update for prod */ } }
  @media only screen and (min-width: 1440px) {
    .hero {
      height: 800px; } }
  .hero .titles {
    position: absolute;
    left: 50%;
    top: calc(50% - 25px);
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%); }
    @media only screen and (min-width: 1024px) {
      .hero .titles {
        top: 50%; } }
  .hero .main-header {
    margin-bottom: 10px; }
    @media only screen and (min-width: 1024px) {
      .hero .main-header {
        margin-bottom: 20px; } }
    @media only screen and (min-width: 1440px) {
      .hero .main-header {
        margin-bottom: 5px; } }
  .hero .sub-header {
    color: #FFFFFF; }

.news-container {
  margin-top: 10px; }
  @media only screen and (min-width: 1024px) {
    .news-container {
      margin-top: 25px; } }
  @media only screen and (min-width: 1280px) {
    .news-container {
      margin-top: 50px; } }
  @media only screen and (min-width: 1440px) {
    .news-container {
      margin-top: 70px;
      margin-bottom: 25px; } }

.news-wrapper {
  padding: 20px 0; }
  @media only screen and (min-width: 1024px) {
    .news-wrapper {
      padding: 20px 38% 20px 0; } }
  @media only screen and (min-width: 1440px) {
    .news-wrapper {
      padding: 20px 30% 20px 0; } }
  .news-wrapper .news-date {
    display: block;
    margin-bottom: 5px; }
    @media only screen and (min-width: 1440px) {
      .news-wrapper .news-date {
        margin-bottom: 15px; } }
  .news-wrapper .news-link {
    margin-top: 15px;
    display: block;
    text-decoration: underline; }
    @media only screen and (min-width: 1024px) {
      .news-wrapper .news-link {
        display: none; } }
  @media only screen and (min-width: 1024px) {
    .news-wrapper .news-text-wrapper {
      flex: 1; } }
  .news-wrapper .news-title {
    text-decoration: underline;
    margin-bottom: 15px; }
  @media only screen and (min-width: 1024px) {
    .news-wrapper .flex-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start; } }
  .news-wrapper .news-image {
    display: none; }
    @media only screen and (min-width: 1024px) {
      .news-wrapper .news-image {
        display: block;
        width: 130px;
        height: 130px;
        object-fit: cover;
        margin-left: 30px; } }
    @media only screen and (min-width: 1440px) {
      .news-wrapper .news-image {
        width: 200px;
        height: 200px; } }
  .news-wrapper a {
    color: #000000; }

.news-date {
  margin-bottom: -3px; }
  @media only screen and (min-width: 1024px) {
    .news-date {
      margin-bottom: 2px; } }

.news-date,
.news-title {
  display: block; }

.news-list-item {
  margin-bottom: 25px; }
  @media only screen and (min-width: 1024px) {
    .news-list-item {
      margin-bottom: 35px; } }
  @media only screen and (min-width: 1440px) {
    .news-list-item {
      margin-bottom: 40px; } }

.rss {
  z-index: 10;
  padding-left: 8px; }

.icon-size {
  height: 24px;
  width: 24px; }
  @media only screen and (min-width: 1024px) {
    .icon-size {
      height: 32px;
      width: 32px; } }
  @media only screen and (min-width: 1440px) {
    .icon-size {
      height: 48px;
      width: 48px; } }

.section-title .header-shadow {
  z-index: -1; }

.pagination {
  clear: both;
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;
  /* next/previous buttons */ }
  .pagination::after {
    clear: both;
    content: "";
    display: table; }
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .pagination li {
    display: block;
    float: left;
    margin-left: -1px; }
    .pagination li a {
      display: block;
      margin-bottom: 0.25em;
      padding: 0.2em 0.8em;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      color: #646769;
      border: 1px solid #b6b6b6;
      border-radius: 0; }
      @media only screen and (min-width: 512px) {
        .pagination li a {
          padding: 0.5em 1em; } }
      .pagination li a:hover {
        color: #235e70; }
      .pagination li a.current, .pagination li a.current.disabled {
        color: #fff;
        background: #6f777d; }
      .pagination li a.disabled {
        color: rgba(100, 103, 105, 0.5);
        pointer-events: none;
        cursor: not-allowed; }
    .pagination li:first-child {
      margin-left: 0; }
      .pagination li:first-child a {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
    .pagination li:last-child a {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
  .pagination--pager {
    display: block;
    padding: 1em 2em;
    float: left;
    width: 50%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #646769;
    border: 1px solid #b6b6b6;
    border-radius: 4px; }
    .pagination--pager:hover {
      background-color: #646769;
      color: #fff; }
    .pagination--pager:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .pagination--pager:last-child {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .pagination--pager.disabled {
      color: rgba(100, 103, 105, 0.5);
      pointer-events: none;
      cursor: not-allowed; }

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #f2f3f3; }

#body.locked {
  overflow: hidden; }

.content {
  padding: 15px 0; }
  @media only screen and (min-width: 1024px) {
    .content {
      padding: 45px 0; } }
  @media only screen and (min-width: 1440px) {
    .content {
      padding: 60px 0; } }

.section {
  padding: 50px 25px; }
  @media only screen and (min-width: 1024px) {
    .section {
      padding: 60px 100px; } }
  @media only screen and (min-width: 1440px) {
    .section {
      padding: 90px 245px; } }
  .section .section-title {
    position: relative;
    display: inline-block;
    margin-bottom: 10px; }
    @media only screen and (min-width: 1024px) {
      .section .section-title {
        margin-bottom: 20px; } }
    @media only screen and (min-width: 1440px) {
      .section .section-title {
        margin-bottom: 35px; } }
  .section .header {
    color: #C38750;
    position: relative;
    z-index: 1000; }
  .section .header-shadow {
    position: absolute;
    bottom: 30%;
    left: calc(50% + 30px);
    transform: translateX(-50%); }
    .section .header-shadow.center {
      left: 50%; }
  .section .section-subheader {
    margin-bottom: 15px; }
    @media only screen and (min-width: 1024px) {
      .section .section-subheader {
        margin-bottom: 25px; } }
    @media only screen and (min-width: 1440px) {
      .section .section-subheader {
        margin-bottom: 35px; } }

/* for items that must wrap */
.grid {
  display: flex;
  flex-wrap: wrap; }

/* for items that consistently stay in a row */
.row.row-sm {
  display: flex; }
@media only screen and (min-width: 1024px) {
  .row {
    display: flex; } }

.col-half {
  width: 100%; }
  @media only screen and (min-width: 1024px) {
    .col-half {
      width: 50%;
      display: inline-block;
      vertical-align: top; } }

/* 1 column mobile - 2 column tablet - 3 column desktop */
.col-third {
  margin-bottom: 35px;
  vertical-align: top;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .col-third {
      width: calc(50% - 17px);
      padding: 0 17px;
      display: inline-block; }
      .col-third:nth-child(odd) {
        padding-left: 0; }
      .col-third:nth-child(even) {
        padding-right: 0; } }
  @media only screen and (min-width: 1024px) {
    .col-third {
      width: calc(33.33% - 16px);
      display: inline-block;
      vertical-align: top;
      padding: 0 12px;
      margin-bottom: 25px; }
      .col-third:nth-child(odd), .col-third:nth-child(even) {
        padding: 0 12px; }
      .col-third:nth-child(3n+1) {
        padding-left: 0; }
      .col-third:nth-child(3n+3) {
        padding-right: 0; } }
  @media only screen and (min-width: 1440px) {
    .col-third {
      padding: 0 17px;
      margin-bottom: 35px;
      width: calc(33.33% - 23px); }
      .col-third:nth-child(odd), .col-third:nth-child(even) {
        padding: 0 17px; }
      .col-third:nth-child(3n+1) {
        padding-left: 0; }
      .col-third:nth-child(3n+3) {
        padding-right: 0; } }

.col-fourth {
  width: 100%; }
  .col-fourth.col-fourth-sm {
    width: 25%;
    display: inline-block;
    vertical-align: top; }
    .col-fourth.col-fourth-sm:first-child {
      padding-left: 0; }
    .col-fourth.col-fourth-sm:last-child {
      padding-right: 0; }
  @media only screen and (min-width: 768px) {
    .col-fourth {
      width: calc(50% - 20px);
      display: inline-block;
      padding: 0 20px; }
      .col-fourth:first-child, .col-fourth:nth-child(3) {
        padding-left: 0; }
      .col-fourth:nth-child(2), .col-fourth:last-child {
        padding-right: 0; } }
  @media only screen and (min-width: 1024px) {
    .col-fourth {
      width: calc(25% - 83px);
      display: inline-block;
      vertical-align: top;
      padding: 0 55px; }
      .col-fourth:nth-child(2), .col-fourth:nth-child(3) {
        padding: 0 55px; }
      .col-fourth:first-child {
        padding-left: 0; }
      .col-fourth:last-child {
        padding-right: 0; } }

.generated-content h1 {
  font-weight: 700;
  font-size: 1.25rem;
  /* 20px */
  padding: 10px 0; }
  @media only screen and (min-width: 1024px) {
    .generated-content h1 {
      font-size: 2rem;
      /* 32px */ } }
.generated-content h2 {
  font-weight: 700;
  font-size: 1.125rem;
  /* 18px */
  padding: 10px 0; }
  @media only screen and (min-width: 1024px) {
    .generated-content h2 {
      font-size: 1.75rem;
      /* 28px */ } }
.generated-content h3 {
  font-weight: 700;
  font-size: 1rem;
  /* 16px */
  padding: 10px 0; }
  @media only screen and (min-width: 1440px) {
    .generated-content h3 {
      font-size: 1.625rem;
      /* 26px */ } }
.generated-content h4 {
  font-weight: 700;
  font-size: 1rem;
  /* 16px */
  padding: 10px 0; }
  @media only screen and (min-width: 1440px) {
    .generated-content h4 {
      font-size: 1.5rem;
      /* 24px */ } }
.generated-content h5 {
  font-weight: 700;
  font-size: 0.875rem;
  /* 14px */
  padding: 10px 0; }
  @media only screen and (min-width: 1440px) {
    .generated-content h5 {
      font-size: 1.375rem;
      /* 22px */ } }
.generated-content h6 {
  font-weight: 700;
  font-size: 0.875rem;
  /* 14px */
  padding: 10px 0; }
  @media only screen and (min-width: 1440px) {
    .generated-content h6 {
      font-size: 1.25rem;
      /* 20px */ } }
.generated-content p {
  padding: 5px 0;
  line-height: 1.65; }
.generated-content ul {
  list-style-type: disc;
  list-style-position: inside; }
.generated-content ol {
  list-style-type: decimal;
  list-style-position: inside; }
  .generated-content ol li {
    margin: 0.5rem 0; }
.generated-content em {
  font-weight: 700; }
.generated-content code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 95%;
  margin: 0;
  padding: .2em .4em; }
.generated-content pre {
  word-wrap: normal;
  display: block;
  margin: 1rem 0;
  padding: 1rem 1rem;
  width: auto;
  overflow: auto;
  font-size: 95%;
  background-color: #f6f8fa;
  border-radius: 4px; }
  .generated-content pre code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 95%;
    white-space: inherit;
    padding: 0;
    background-color: transparent;
    line-height: 2; }

@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none; } }

.desktop-only {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .desktop-only {
      display: block; } }

.nav {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1005; }
  @media only screen and (min-width: 1024px) {
    .nav {
      height: 120px; } }
  .nav.dark {
    position: relative;
    background: #000000; }
  .nav .logo {
    width: 77px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px; }
    @media only screen and (min-width: 1024px) {
      .nav .logo {
        width: 90px;
        left: 30px; } }
  .nav .hamburger {
    position: absolute;
    top: 50%;
    right: 25px;
    height: 22px;
    width: 30px;
    z-index: 1005;
    transform: translateY(-50%); }
    @media only screen and (min-width: 1024px) {
      .nav .hamburger {
        display: none; } }
    .nav .hamburger .hamburger-line {
      height: 4px;
      width: 30px;
      background: #FFFFFF;
      position: absolute;
      left: 0;
      transition: all 0.3s ease;
      opacity: 1; }
      .nav .hamburger .hamburger-line:first-child {
        top: 0; }
      .nav .hamburger .hamburger-line:nth-child(2) {
        top: 9px; }
      .nav .hamburger .hamburger-line:nth-child(3) {
        top: 18px; }
    .nav .hamburger.active .hamburger-line:first-child {
      transform: rotate(45deg);
      top: 8px; }
    .nav .hamburger.active .hamburger-line:nth-child(2) {
      opacity: 0; }
    .nav .hamburger.active .hamburger-line:nth-child(3) {
      transform: rotate(-45deg);
      top: 8px; }
  .nav .nav-items {
    position: fixed;
    top: -110vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;
    padding-top: 35px;
    text-align: center;
    transition: all 0.8s ease;
    display: none;
    box-sizing: border-box; }
    .nav .nav-items.active {
      top: 0;
      display: block; }
    @media only screen and (min-width: 1024px) {
      .nav .nav-items {
        display: block;
        padding-top: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        width: auto;
        height: auto;
        background: transparent;
        text-align: right; }
        .nav .nav-items.active {
          top: 40px; } }
  .nav .nav-item {
    padding-top: 35px; }
    @media only screen and (min-width: 1024px) {
      .nav .nav-item {
        padding-top: 0;
        margin-right: 45px;
        display: inline-block; } }
  .nav .nav-link {
    /* nav bar text */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1;
    font-size: 1.5rem;
    letter-spacing: 0.02em; }
    @media only screen and (min-width: 1024px) {
      .nav .nav-link {
        font-size: 1.25rem;
        /* 20px */ } }
    @media only screen and (min-width: 1440px) {
      .nav .nav-link {
        font-size: 1.5rem;
        /* 24px */ } }
  .nav .social-link {
    display: flex;
    justify-content: center; }
  .nav .socials .connect-content {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; }
    @media only screen and (min-width: 1024px) {
      .nav .socials .connect-content {
        display: none; } }

.slack .slack-link,
.slack .section-title {
  margin-bottom: 20px; }
  @media only screen and (min-width: 1024px) {
    .slack .slack-link,
    .slack .section-title {
      margin-bottom: 30px; } }
.slack .slack-paragraph {
  margin-bottom: 15px; }
.slack .slack-list-item {
  margin-top: 25px; }
  .slack .slack-list-item h4, .slack .slack-list-item p {
    margin-bottom: 15px; }
.slack .header-shadow {
  white-space: nowrap; }
.slack .link {
  text-decoration: underline; }
.slack em {
  font-style: italic; }

.section.connect {
  padding: 55px 25px 50px;
  text-align: center;
  background: url("/images/contact-bg-mobile.png") no-repeat center/cover; }
  @media only screen and (min-width: 1024px) {
    .section.connect {
      background: url("/images/contact-bg.png") no-repeat center/cover;
      height: calc(100vh - 130px);
      padding: 0;
      position: relative; } }
  @media only screen and (min-width: 1440px) {
    .section.connect {
      height: calc(100vh - 200px); } }
  @media only screen and (min-width: 1024px) {
    .section.connect .section-content {
      position: absolute;
      text-align: center;
      width: 100%;
      top: calc(50% + 25px);
      transform: translateY(-50%); } }
  @media only screen and (min-width: 1440px) {
    .section.connect .section-content {
      top: calc(50% + 40px); } }
  .section.connect .section-title {
    margin-bottom: 20px; }
    @media only screen and (min-width: 1024px) {
      .section.connect .section-title {
        margin-bottom: 35px; } }
    @media only screen and (min-width: 1440px) {
      .section.connect .section-title {
        margin-bottom: 60px; } }
  .section.connect .header-shadow {
    color: #FFFFFF;
    opacity: 0.15; }

.socials .connect-content {
  width: 270px;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .socials .connect-content {
      width: 780px; } }
  @media only screen and (min-width: 1440px) {
    .socials .connect-content {
      width: 1140px; } }
.socials .col-fourth {
  padding: 0; }
.socials .social-icon {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 52px;
  width: 52px; }
  @media only screen and (min-width: 1024px) {
    .socials .social-icon {
      height: 180px;
      width: 180px; } }
  @media only screen and (min-width: 1440px) {
    .socials .social-icon {
      height: 270px;
      width: 270px; } }
.socials .social-icon-img-wrapper {
  height: 25px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end; }
  @media only screen and (min-width: 1024px) {
    .socials .social-icon-img-wrapper {
      height: 85px;
      margin-bottom: 15px; } }
  @media only screen and (min-width: 1440px) {
    .socials .social-icon-img-wrapper {
      height: 125px;
      margin-bottom: 30px; } }
.socials .social-icon-img {
  display: block; }
  .socials .social-icon-img.github {
    width: 27px; }
    @media only screen and (min-width: 1024px) {
      .socials .social-icon-img.github {
        width: 90px; } }
    @media only screen and (min-width: 1440px) {
      .socials .social-icon-img.github {
        width: 135px; } }
  .socials .social-icon-img.facebook {
    width: 13px; }
    @media only screen and (min-width: 1024px) {
      .socials .social-icon-img.facebook {
        width: 45px; } }
    @media only screen and (min-width: 1440px) {
      .socials .social-icon-img.facebook {
        width: 63px; } }
  .socials .social-icon-img.twitter {
    width: 23px; }
    @media only screen and (min-width: 1024px) {
      .socials .social-icon-img.twitter {
        width: 80px; } }
    @media only screen and (min-width: 1440px) {
      .socials .social-icon-img.twitter {
        width: 120px; } }
  .socials .social-icon-img.linkedin {
    width: 24px; }
    @media only screen and (min-width: 1024px) {
      .socials .social-icon-img.linkedin {
        width: 78px; } }
    @media only screen and (min-width: 1440px) {
      .socials .social-icon-img.linkedin {
        width: 117px; } }
.socials .social-icon-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1;
  font-size: 0.625rem;
  /* 10px */
  letter-spacing: 0.02em; }
  @media only screen and (min-width: 1024px) {
    .socials .social-icon-text {
      font-size: 1.25rem;
      /* 20px */ } }
  @media only screen and (min-width: 1440px) {
    .socials .social-icon-text {
      font-size: 1.875rem;
      /* 30px */ } }

.mission .mission-img {
  width: 100%;
  margin: 15px auto 0;
  max-width: 600px;
  display: block; }
  @media only screen and (min-width: 1024px) {
    .mission .mission-img {
      margin: 0;
      position: relative;
      top: 90px; } }
  @media only screen and (min-width: 1440px) {
    .mission .mission-img {
      top: 160px; } }
.mission .col-right {
  text-align: right;
  box-sizing: border-box; }
  @media only screen and (min-width: 1024px) {
    .mission .col-right {
      padding-left: 65px; } }
  @media only screen and (min-width: 1440px) {
    .mission .col-right {
      padding-left: 105px; } }
.mission li:last-child {
  margin-bottom: 15px; }
  @media only screen and (min-width: 1024px) {
    .mission li:last-child {
      margin-bottom: 20px; } }

.sponsor {
  padding: 50px 25px 90px; }
  @media only screen and (min-width: 1024px) {
    .sponsor {
      padding: 65px 100px 55px; } }
  @media only screen and (min-width: 1440px) {
    .sponsor {
      padding: 65px 245px 175px; } }
  .sponsor .section-title {
    margin-bottom: 30px; }
    @media only screen and (min-width: 1440px) {
      .sponsor .section-title {
        margin-bottom: 50px; } }
  .sponsor .sponsor-img {
    display: block;
    width: 75%;
    margin: 15px auto 0;
    max-width: 600px;
    display: block; }
    @media only screen and (min-width: 1024px) {
      .sponsor .sponsor-img {
        margin: 0;
        position: relative;
        width: 50%;
        left: 190px;
        top: -45px; } }
    @media only screen and (min-width: 1440px) {
      .sponsor .sponsor-img {
        max-width: 410px;
        width: 59%;
        left: 200px;
        top: -65px; } }

.activities {
  padding: 45px 25px 45px; }
  @media only screen and (min-width: 1024px) {
    .activities {
      padding: 55px 100px 30px; } }
  @media only screen and (min-width: 1440px) {
    .activities {
      padding: 75px 245px 50px; } }
  @media only screen and (min-width: 768px) {
    .activities .section-title {
      margin-bottom: 25px; } }
  @media only screen and (min-width: 1024px) {
    .activities .section-title {
      margin-bottom: 10px; } }
  @media only screen and (min-width: 1440px) {
    .activities .section-title {
      margin-bottom: 40px; } }
  .activities .activities-content {
    text-align: center; }
  .activities .activity-title {
    line-height: 1;
    margin: 10px 0 10px; }
    @media only screen and (min-width: 1024px) {
      .activities .activity-title {
        margin: 25px 0 15px; } }
    @media only screen and (min-width: 1440px) {
      .activities .activity-title {
        margin: 50px 0 15px; } }
  .activities .activity-col {
    margin-bottom: 40px; }
    .activities .activity-col:last-child {
      margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .activities .activities-img-wrapper {
      height: 115px; } }
  @media only screen and (min-width: 1024px) {
    .activities .activities-img-wrapper {
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-width: 1440px) {
    .activities .activities-img-wrapper {
      height: 150px; } }
  .activities .activities-img.libraries {
    height: 90px; }
    @media only screen and (min-width: 1024px) {
      .activities .activities-img.libraries {
        height: 95px; } }
    @media only screen and (min-width: 1440px) {
      .activities .activities-img.libraries {
        height: 150px; } }
  .activities .activities-img.communities {
    height: 110px; }
    @media only screen and (min-width: 1024px) {
      .activities .activities-img.communities {
        height: 105px; } }
    @media only screen and (min-width: 1440px) {
      .activities .activities-img.communities {
        height: 150px; } }
  .activities .activities-img.standards {
    height: 105px; }
    @media only screen and (min-width: 1024px) {
      .activities .activities-img.standards {
        height: 105px; } }
    @media only screen and (min-width: 1440px) {
      .activities .activities-img.standards {
        height: 150px; } }
  .activities .activities-img.education {
    height: 80px; }
    @media only screen and (min-width: 1024px) {
      .activities .activities-img.education {
        height: 80px; } }
    @media only screen and (min-width: 1440px) {
      .activities .activities-img.education {
        height: 120px; } }

.team {
  background: #000000;
  padding: 75px 25px 50px;
  /* to solve uneven # of cards in a row */ }
  @media only screen and (min-width: 1024px) {
    .team {
      padding: 145px 100px 75px; } }
  @media only screen and (min-width: 1440px) {
    .team {
      padding: 220px 245px 185px; } }
  .team .section-title {
    margin-bottom: 25px; }
    @media only screen and (min-width: 1440px) {
      .team .section-title {
        margin-bottom: 60px; } }
  .team .row:last-child .col-third:last-child {
    margin-bottom: 0; }

.alumni {
  padding-top: 25px; }

.news {
  padding: 55px 25px 60px; }
  @media only screen and (min-width: 1024px) {
    .news {
      padding: 135px 100px 95px; } }
  @media only screen and (min-width: 1440px) {
    .news {
      padding: 190px 245px 160px; } }
  .news .section-title {
    margin-bottom: 20px; }
    @media only screen and (min-width: 1024px) {
      .news .section-title {
        margin-bottom: 40px; } }
    @media only screen and (min-width: 1440px) {
      .news .section-title {
        margin-bottom: 55px; } }
  .news li {
    padding-left: 0; }
  .news .news-list-item {
    margin-bottom: 25px; }
    @media only screen and (min-width: 1024px) {
      .news .news-list-item {
        margin-bottom: 35px; } }
    @media only screen and (min-width: 1440px) {
      .news .news-list-item {
        margin-bottom: 40px; } }
  .news .all {
    margin-top: 45px;
    display: block; }
    @media only screen and (min-width: 1024px) {
      .news .all {
        margin-top: 60px; } }
    @media only screen and (min-width: 1440px) {
      .news .all {
        margin-top: 90px; } }
  .news li:before {
    content: none; }

.links {
  background: #ECECEC;
  padding: 65px 25px; }
  @media only screen and (min-width: 1024px) {
    .links {
      padding: 145px 100px 125px; } }
  @media only screen and (min-width: 1440px) {
    .links {
      padding: 230px 245px 200px; } }
  .links .header-shadow {
    color: #E1DFDF; }
  .links .section-title {
    margin-bottom: 20px; }
    @media only screen and (min-width: 1024px) {
      .links .section-title {
        margin-bottom: 45px; } }
    @media only screen and (min-width: 1440px) {
      .links .section-title {
        margin-bottom: 65px; } }
  .links .link-item {
    margin-bottom: 20px;
    padding-left: 0; }
    .links .link-item:before {
      content: none; }
    @media only screen and (min-width: 1024px) {
      .links .link-item {
        margin-bottom: 30px; } }
    @media only screen and (min-width: 1440px) {
      .links .link-item {
        margin-bottom: 45px; } }

.faq {
  padding: 65px 25px 45px; }
  @media only screen and (min-width: 1024px) {
    .faq {
      padding: 130px 100px 60px; } }
  @media only screen and (min-width: 1440px) {
    .faq {
      padding: 215px 245px 135px; } }
  .faq .section-title {
    margin-bottom: 20px; }
    @media only screen and (min-width: 1440px) {
      .faq .section-title {
        margin-bottom: 45px; } }
  @media only screen and (min-width: 1024px) {
    .faq .faq-content {
      max-width: 770px; } }
  @media only screen and (min-width: 1440px) {
    .faq .faq-content {
      max-width: 1345px; } }

.post {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 1024px) {
    .post {
      min-height: calc(100vh - 75px - 130px);
      /* 100vh - header - footer */ } }
  @media only screen and (min-width: 1440px) {
    .post {
      min-height: calc(100vh - 100px - 200px);
      /* 100vh - header - footer */ } }
  .post .title-section {
    margin-bottom: 80px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px; }
  .post .current-article .news-title {
    font-size: 2.5rem;
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      .post .current-article .news-title {
        font-size: 3.5rem; } }
  .post .post-hero {
    height: 220px;
    width: 100%;
    object-fit: cover; }
    @media only screen and (min-width: 1024px) {
      .post .post-hero {
        height: 710px; } }
  .post .article {
    position: relative;
    padding: 45px 25px 100px; }
    @media only screen and (min-width: 1024px) {
      .post .article {
        padding: 60px 100px 70px; } }
    @media only screen and (min-width: 1500px) {
      .post .article {
        padding: 80px 245px 95px; } }
    @media only screen and (min-width: 2000px) {
      .post .article {
        max-width: 1510px;
        margin: auto; } }
    .post .article article, .post .article article p {
      font-size: 16px !important; }
    .post .article a {
      color: #0366d6;
      text-decoration: none;
      font-weight: normal;
      line-height: 1.5; }
    .post .article blockquote {
      padding: 0 1em;
      color: #6a737d;
      border-left: .25em solid #dfe2e5;
      margin-top: 11px;
      margin-bottom: 1rem; }
    .post .article em {
      font-weight: normal;
      font-style: italic; }
    .post .article h1, .post .article h2 {
      padding-top: 0;
      margin-bottom: 16px;
      padding-bottom: .3em;
      margin-top: 24px; }
      .post .article h1.no-border, .post .article h2.no-border {
        border-bottom: none; }
    .post .article h1 {
      line-height: 2.5rem;
      font-size: 2em; }
    .post .article h2 {
      font-size: 1.7em; }
    .post .article ol {
      padding-left: 30px;
      list-style-position: outside; }
    .post .article p {
      line-height: 1.5; }
    .post .article p code {
      line-height: 1.5;
      font-size: 85%; }
    .post .article pre code {
      overflow: auto;
      font-size: 13.6px !important;
      line-height: 1.45;
      background-color: #f6f8fa;
      border-radius: 3px;
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
      -moz-tab-size: 4;
      tab-size: 4; }
    .post .article strong, .post .article strong em {
      font-weight: 600; }
    .post .article ul {
      margin-bottom: 16px; }
      .post .article ul li {
        font-size: 1rem; }
  .post .caption {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    /* 12px */
    position: absolute;
    color: #9A9A9A;
    top: 5px;
    left: 5px;
    line-height: 1.25; }
    @media only screen and (min-width: 1024px) {
      .post .caption {
        left: 20px;
        top: 10px; } }
    @media only screen and (min-width: 1440px) {
      .post .caption {
        font-size: 14px;
        left: 25px;
        top: 10px; } }
  .post .news.bottom-layout {
    padding-top: 100px;
    padding-bottom: 80px; }
  .post .news-title {
    margin-bottom: 15px; }
  .post .author {
    text-align: center;
    margin-top: -25px; }
  .post .author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle; }
    @media only screen and (min-width: 1024px) {
      .post .author-img {
        height: 45px;
        width: 45px; } }
  .post .author-name {
    margin-left: 2px; }
    @media only screen and (min-width: 1024px) {
      .post .author-name {
        margin-left: 5px; } }
  .post .content-text {
    line-height: 1.4; }
  .post .news {
    background: #ECECEC; }
    @media only screen and (min-width: 1024px) {
      .post .news .news-title {
        font-size: 1.25rem; } }
    @media only screen and (min-width: 1440px) {
      .post .news .news-title {
        font-size: 1.875rem; } }
  @media only screen and (min-width: 1024px) {
    .post .recent-post-header {
      font-size: 40px; } }
  @media only screen and (min-width: 1024px) {
    .post .header-shadow {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .post .news-title,
    .post .all {
      font-size: 1rem; } }
  @media only screen and (min-width: 1024px) {
    .post .all {
      margin-top: 55px; } }
  @media only screen and (min-width: 1024px) {
    .post .news-list-item {
      margin-bottom: 25px; } }
  @media only screen and (min-width: 1024px) {
    .post .section-title {
      margin-bottom: 35px; } }
  .post table {
    display: block;
    width: 100%;
    overflow: auto;
    vertical-align: middle;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: .8rem 0; }
    .post table th {
      font-weight: 600;
      text-align: center; }
    .post table th,
    .post table td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
      vertical-align: middle; }
    .post table tr {
      border-top: 1px solid #c6cbd1; }
      .post table tr:nth-child(2n) {
        background-color: #f6f8fa; }
    .post table img {
      background-color: transparent; }

.center {
  text-align: center; }

.d-block {
  display: block; }

.d-iblock {
  display: inline-block; }

.team-member .team {
  padding: 50px 25px 75px;
  background: #FFFFFF; }
  @media only screen and (min-width: 1024px) {
    .team-member .team {
      padding: 85px 100px 150px; } }
  @media only screen and (min-width: 1440px) {
    .team-member .team {
      padding: 160px 245px 190px; } }
@media only screen and (min-width: 1024px) {
  .team-member .flex-row {
    margin-top: 55px;
    display: flex;
    justify-content: space-between; } }
@media only screen and (min-width: 1024px) {
  .team-member .team-member-img-wrapper {
    width: 35%;
    padding-bottom: 33%;
    height: 0;
    order: 2;
    position: relative;
    top: -45px; } }
.team-member .team-member-img {
  height: 325px;
  margin-bottom: 40px;
  object-fit: cover; }
  @media only screen and (min-width: 1024px) {
    .team-member .team-member-img {
      position: absolute;
      height: 100%;
      width: 100%; } }
.team-member .title {
  margin: 3px 0 35px;
  display: block; }
  @media only screen and (min-width: 1024px) {
    .team-member .title {
      margin: 5px 0 30px; } }
@media only screen and (min-width: 1024px) {
  .team-member .bio {
    order: 1;
    width: 50%; } }
.team-member .social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 35px; }
.team-member .social-icon {
  width: 25px;
  margin-right: 30px; }
  @media only screen and (min-width: 1024px) {
    .team-member .social-icon {
      width: 27px; } }
  .team-member .social-icon.web {
    width: 23px; }
    @media only screen and (min-width: 1024px) {
      .team-member .social-icon.web {
        width: 25px; } }
  .team-member .social-icon.resume {
    width: 21px; }
    @media only screen and (min-width: 1024px) {
      .team-member .social-icon.resume {
        width: 24px; } }
  .team-member .social-icon.stack, .team-member .social-icon.linkedin {
    width: 24px; }
  @media only screen and (min-width: 1024px) {
    .team-member .social-icon.github {
      width: 25px; } }
.team-member .all {
  margin-top: 40px;
  display: block;
  font-weight: 700;
  text-decoration: underline; }
  @media only screen and (min-width: 1024px) {
    .team-member .all {
      margin-top: 65px; } }
.team-member .news {
  background: #ECECEC;
  padding: 65px 25px 40px; }
  @media only screen and (min-width: 1024px) {
    .team-member .news {
      padding: 150px 100px 95px; } }
  @media only screen and (min-width: 1440px) {
    .team-member .news {
      padding: 170px 245px 115px; } }
  .team-member .news .header-shadow {
    color: #E1DFDF; }
