<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>CppLang Slack CoC</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <style>
      body {
        font-family: 'PT Sans', sans-serif;
        color: #515151;
      }

      h1, h2, h3, h4, h5, h6 {
        color: #313131;
      }

      .container {
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 38rem;
      }

      a {
        color: #268bd2;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container content">
      {{ content }}
    </div>
  </body>
</html>
