---
layout: default
title: The C++ Alliance
image: /images/cpp.jpg
nav-class: transparent
description: The C++ Alliance is dedicated to helping the C++ programming language evolve. We see it developing as an ecosystem of open source libraries and as a growing community of those who contribute to those libraries.
---

{% include top-title.html header="The C++ Alliance" subheader='Empowering C++' %}

<div class='content'>
  <!-- Mission section-->
  <section class="section mission row" id="mission">
    <div class='col-half col-left'>
      <div class='section-title'>
        <h2 class='header text-xl'>Mission</h2>
        <h2 class='header-shadow'>Mission</h2>
      </div>

      <h3 class="text-m section-subheader">An Organization Empowering The C++ Community</h3>
      <div class='formatted-text'>
        <p class='text-xxs'>Mankind is reliant on software, for all aspects of life. Software is the
        foundation of commerce, industry, recreation, transportation, communication,
        and more. The best software solutions are written using the C++ programming
        language.</p>
        <p class='text-xxs'>The C++ Alliance (a California non-profit 501(c)(3)-pending organization)
        recognizes that great programs have yet to be developed due to a lack of
        required resources. As a result we stand behind “open source." Through open
        source libraries, the original code is available to be redistributed and
        modified without restrictions. This allows for better collaboration among
        programmers. Our primary function is to advance the development of open
        source software. It is our mission to empower programmers.</p>
        <p class='text-xxs'>We intend to build a better programming environment. The Alliance envisions
        support for the creation and distribution of open source libraries, achieved
        by developing, communicating and promoting the best programming practices.
        It is our desire to support the creation and use of better standards and tools
        for when working with source code.</p>
        <p class='text-xxs'>The Alliance supports individuals and organizations with similar goals by:</p>
        <ul class='section-list list'>
          <li class='text-xxs section-list-item'>Employing "staff engineers" to write code, produce tools, and advance
          the interests of the C++ community.</li>
          <li class='text-xxs section-list-item'>Provide travel grants for industry professionals to attend events,
          including ISO Standards Committee meetings, conferences, or other
          relevant gatherings.</li>
          <li class='text-xxs section-list-item'>Offering incentives or bounties to individuals or groups for achieving
          goals in alignment with the mission.</li>
          <li class='text-xxs section-list-item'>Selectively sponsoring other organizations with overlapping objectives.</li>
        </ul>
        <p class='text-xxs'>We are dedicated to helping the C++ programming language evolve. We see it developing as an ecosystem of open source libraries and as a growing community of those who contribute to those libraries.</p>
      </div>
    </div>
    <div class='col-half col-right'>
      <img class='mission-img' alt="Mission" src="{{ site.baseurl }}/images/mission.svg"/>
    </div>
  </section>


  <!-- Activities section-->

  <section class="section activities">
    <div class='section-title'>
      <h2 class='header text-xl'>Activities</h2>
      <h2 class='header-shadow'>Activities</h2>
    </div>

    <div class='activities-content grid'>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Library" class='activities-img libraries' src="{{ site.baseurl }}/images/icons/library.svg"/>
        </div>
        <h3 class="text-m activity-title">Libraries</h3>
        <p class='text-xxs activities-text'>Support efforts to author high quality open source C++ libraries. Contribute to peer-reviewed projects such as the <a href="https://www.boost.org/">Boost</a> library collection.</p>
      </div>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Communities" class='activities-img communities' src="{{ site.baseurl }}/images/icons/community.svg"/>
        </div>
        <h3 class="text-m activity-title">Communities</h3>
        <p class='text-xxs activities-text'>Administer the largest, and most active, C++ Slack <a href="http://cppalliance.org/slack">community</a> that unites enthusiasts, standard committee members, compiler and library developers.</p>
      </div>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Standards" class='activities-img standards' src="{{ site.baseurl }}/images/icons/standard.svg"/>
        </div>
        <h3 class="text-m activity-title">Standards</h3>
        <p class='text-xxs activities-text'>Motivate contributions to the <a href="https://isocpp.org/">C++ international standard</a> and technical specifications in the form of proposal papers and defect reports.</p>
      </div>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Education" class='activities-img education' src="{{ site.baseurl }}/images/icons/education.svg" />
        </div>
        <h3 class="text-m activity-title">Education</h3>
        <p class='text-xxs activities-text'>Sponsor initiatives to teach and promote modern C++ techniques and libraries, through talks and presentations at prominent conferences such as <a href="https://cppcon.org/">CppCon</a>.</p>
      </div>

    </div>

  </section>

  <!-- Sponsors section-->

  <section class="section sponsor row">
    <div class='col-half col-left'>
      <div class='section-title'>
        <h2 class='header text-xl'>Sponsors</h2>
        <h2 class='header-shadow'>Sponsors</h2>
      </div>
      <h3 class="text-m section-subheader">Support Our Community</h3>
      <p class='text-xxs'>Thank you for your interest, but we are not yet accepting donations or sponsorships. The Alliance is currently funded by a private endowment.</p>
    </div>

    <div class='col-half col-right'>
      <img class='sponsor-img' alt='Sponsor' src='{{ site.baseurl }}/images/sponsor.svg' />
    </div>

  </section>

  <!-- Our Team section-->
  <section class='section team' id='team'>
    <div class='section-title'>
      <h2 class='header text-xl'>Team</h2>
      <h2 class='header-shadow dark'>Team</h2>
    </div>

    <div class='grid'>
      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/vinnie'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/vinnie.jpg' alt='Vinnie Falco'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Vinnie Falco</h4>
            <h5 class='text-xs card-subtitle'>Board Member</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/rene'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/rene.jpg' alt='René Rivera'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>René Rivera</h4>
            <h5 class='text-xs card-subtitle'>Board Member</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/jon'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/jon.jpg' alt='Jon Kalb'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Jon Kalb</h4>
            <h5 class='text-xs card-subtitle'>Board Member</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/louis'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/louis.jpg' alt='Louis Tatta'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Louis Tatta</h4>
            <h5 class='text-xs card-subtitle'>Executive Team</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/marshall'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/marshall.jpg' alt='Marshall Clow'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Marshall Clow</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/damian'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/damian.jpg' alt='Damian Jarek'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Damian Jarek</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/glen'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/glen.jpg' alt='Glen Fernandes'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Glen Fernandes</h4>
            <h5 class='text-xs card-subtitle'>Technical Committee</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/jens'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/jens.jpg' alt='Jens Weller'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Jens Weller</h4>
            <h5 class='text-xs card-subtitle'>Advisor</h5>
          </span>
        </a>
      </div>
    </div>
  </section>

  <!-- News section-->
  <section class="section news" id='news'>
    <div class='section-title'>
      <h2 class='header text-xl'>News</h2>
      <h2 class='header-shadow'>News</h2>
    </div>
    <div class='news-content formatted-text'>
      <ul>
        {% for post in site.posts limit:6 %}
        <li class='news-list-item'>
          <span class='text-s news-date'>{{ post.date | date: "%m/%d/%Y"}}</span>
          <a class='text-l news-title link' href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        <li>
          <a class='text-l all link' href="{{site.baseurl}}/news">View All News...</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Links section-->

  <section class="section links" id='links'>
    <div class='section-title'>
      <h2 class='header text-xl'>Links</h2>
      <h2 class='header-shadow'>Links</h2>
    </div>
    <div class='links-content formatted-text'>
      <ul>
        <li class='link-item'>
          <a class='text-l link' href="http://cppalliance.org/slack">C++ Language Slack Workspace</a>
        </li>
        <li class='link-item'>
          <a class='text-l link' href="http://cppreference.com">C++ Language Reference</a>
        </li>
        <li class='link-item'>
          <a class='text-l link' href="http://www.open-std.org/jtc1/sc22/wg21/">JTC1/SC22/WG21 - The C++ Standards Committee</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- FAQs section-->
  <section class="section faq" id="faq">
    <div class='section-title'>
      <h2 class='header text-xl'>FAQ</h2>
      <h2 class='header-shadow'>FAQ</h2>
    </div>

    <div class='formatted-text faq-content'>
      <h3 class="text-m section-subheader">Given the existence of Standard C++ Foundation and Software Freedom Conservancy, why was it necessary to form The C++ Alliance as a new, separate legal entity?</h3>
      <p class='text-xxs'> Although the missions of Standard C++ Foundation and The C++ Alliance are similar and overlapping, they have different status under tax law. The Foundation is organized as a 501(c)(6) organization, a trade group. In addition to providing legal protection for companies to work together in ways that might otherwise be viewed as industrial "collusion," a trade group can accept tax-deductible dues from member companies. The Alliance is organized as a 501(c)(3) organization, a charity which can accept tax deductible contributions from the general public.</p>
      <p class='text-xxs'>Although the tax status of Software Freedom Conservancy and The C++ Alliance are similar, their missions and concerns are different. There is mission overlap. Conservancy, whose mission is to support the development of FLOSS libraries, supports the Boost Libraries project, which would also be within the mission of The Alliance, but The Alliance has both a narrower and a broader mission. While Conservancy is language agnostic and is focused on software development, The Alliance is focused exclusively on the C++ environment and is free to support non-FLOSS projects such as language proposals, books, education materials, tools, or other projects which may not be software or may have non-FLOSS licensing.</p>
      <p class='text-xxs'>It is also the case that The C++ Alliance is not a good fit as a Conservancy project. It is appropriate for small open-source projects to pool their resources to provide themselves with financial, legal, accounting, and other services for which they have a common need and for which they may, individually, be too small to economically procure. Although the Alliance will be promoting library development, it doesn't have the same requirements as a FLOSS software producer, so would need different services than your typical Conservancy project and has sufficient endowment to fund the services that it will require.</p>
    </div>
  </section>
</div>

{% include contact.html %}
