---
layout: default
title: The C++ Alliance
nav-class: transparent
description: The C++ Alliance is dedicated to helping the C++ programming language evolve. We see it developing as an ecosystem of open source libraries and as a growing community of those who contribute to those libraries.
---

{% include top-title.html header="The C++ Alliance" subheader='Empowering C++' %}

<div class='content'>
  <!-- Mission section-->
  <section class="section mission row" id="mission">
    <div class='col-half col-left'>
      <div class='section-title'>
        <h2 class='header text-xl'>Mission</h2>
        <h2 class='header-shadow'>Mission</h2>
      </div>

      <h3 class="text-m section-subheader">Empower The C++ Community</h3>
      <div class='formatted-text'>
        <p class='text-xxs'>Our mission is to make the C++ programming language accessible and useful
        to anyone who wishes to learn and apply the language. C++ is not only popular and foundational,
        but also an efficient and general purpose programming language that anyone can learn.
        Teaching C++ gives students knowledge of computer architecture, and helps them compete in
        the global marketplace. These languages have formed the technological foundations of our
        modern world, from the in-flight software enabling the Apollo moon landing to the software
        aspect of all computing devices.</p>
        <p class='text-xxs'>The C++ libraries and community often lack resources, due to their free
        nature and the reliance on volunteers to conduct the highly advanced and time-intensive work
        of maintaining and improving code libraries. Educational materials and opportunities are not
        as robust and affordable as they could be, and some of the most useful and impactful C++-based
        programs have yet to be developed due to this lack of required resources.</p>
        <p class='text-xxs'>The founders recognize the need to secure funding and resources in order to adequately support
        those seeking to learn and use the C++ programming language.  To achieve these ends, the Charity:</p>
        <ul class='section-list list'>
          <li class='text-xxs section-list-item'>Funds and supports educational resources and initiatives,</li>
          <li class='text-xxs section-list-item'>Evolves C++ through expertly maintained code libraries, and</li>
          <li class='text-xxs section-list-item'>Supports a growing programming community and educational environment.</li>
        </ul>
          <p class='text-xxs'>The best software solutions are written using the C++ programming language.</p>
      </div>
    </div>
    <div class='col-half col-right'>
      <img class='mission-img' alt="Mission" src="{{ site.baseurl }}/images/mission.svg"/>
    </div>
  </section>


  <!-- Activities section-->

  <section class="section activities">
    <div class='section-title'>
      <h2 class='header text-xl'>Activities</h2>
      <h2 class='header-shadow'>Activities</h2>
    </div>

    <div class='activities-content grid'>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Library" class='activities-img libraries' src="{{ site.baseurl }}/images/icons/library.svg"/>
        </div>
        <h3 class="text-m activity-title">Libraries</h3>
        <p class='text-xxs activities-text'>Support efforts to author free, high quality, non-proprietary C++ libraries. Contribute to peer-reviewed projects such as the <a href="https://www.boost.org/">Boost</a> library collection.</p>
      </div>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Communities" class='activities-img communities' src="{{ site.baseurl }}/images/icons/community.svg"/>
        </div>
        <h3 class="text-m activity-title">Communities</h3>
        <p class='text-xxs activities-text'>Administer the largest, and most active, C++ Slack <a href="http://cppalliance.org/slack">community</a> that unites enthusiasts, standard committee members, compiler and library developers.</p>
      </div>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Standards" class='activities-img standards' src="{{ site.baseurl }}/images/icons/standard.svg"/>
        </div>
        <h3 class="text-m activity-title">Standards</h3>
        <p class='text-xxs activities-text'>Motivate contributions to the <a href="https://isocpp.org/">C++ international standard</a> and technical specifications in the form of proposal papers and defect reports.</p>
      </div>

      <div class="col-fourth activity-col">
        <div class='activities-img-wrapper'>
          <img alt="Education" class='activities-img education' src="{{ site.baseurl }}/images/icons/education.svg" />
        </div>
        <h3 class="text-m activity-title">Education</h3>
        <p class='text-xxs activities-text'>Sponsor initiatives to teach and promote modern C++ techniques and libraries, through talks and presentations at prominent conferences such as <a href="https://cppcon.org/">CppCon</a>.</p>
      </div>

    </div>

  </section>

  <!-- Sponsors section-->

  <section class="section sponsor row">
    <div class='col-half col-left'>
      <div class='section-title'>
        <h2 class='header text-xl'>Sponsors</h2>
        <h2 class='header-shadow'>Sponsors</h2>
      </div>
      <h3 class="text-m section-subheader">Support Our Community</h3>
      <p class='text-xxs'>Thank you for your interest, but we are not yet accepting donations or sponsorships. The Alliance is currently funded by a private endowment.</p>
    </div>

    <div class='col-half col-right'>
      <img class='sponsor-img' alt='Sponsor' src='{{ site.baseurl }}/images/sponsor.svg' />
    </div>

  </section>

  <!-- Our Team section-->
  <section class='section team' id='team'>
    <div class='section-title'>
      <h2 class='header text-xl'>Team</h2>
      <h2 class='header-shadow dark'>Team</h2>
    </div>

    <div class='grid'>
      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/vinnie'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/vinnie.jpg' alt='Vinnie Falco'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Vinnie Falco</h4>
            <h5 class='text-xs card-subtitle'>Board Member</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/rene'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/rene.jpg' alt='René Rivera'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>René Rivera</h4>
            <h5 class='text-xs card-subtitle'>Board Member</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/jon'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/jon.jpg' alt='Jon Kalb'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Jon Kalb</h4>
            <h5 class='text-xs card-subtitle'>Board Member</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/louis'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/louis.jpg' alt='Louis Tatta'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Louis Tatta</h4>
            <h5 class='text-xs card-subtitle'>Executive Team</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/sam'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/sam.jpg' alt='Sam Darwin'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Sam Darwin</h4>
            <h5 class='text-xs card-subtitle'>Executive Team</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/dmitry'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/dmitry.jpg' alt='Dmitry Arkhipov'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Dmitry Arkhipov</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/alan'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/alan.jpg' alt='Alan Freitas'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Alan Freitas</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/christian'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/christian.jpg' alt='Christian Mazakas'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Christian Mazakas</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/krystian'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/krystian.jpg' alt='Krystian Stasiowski'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Krystian Stasiowski</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/klemens'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/klemens.jpg' alt='Klemens Morgenstern'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Klemens Morgenstern</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/joaquin'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/joaquin.jpg' alt='Joaquín M López Muñoz'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>Joaquín M López Muñoz<center></h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/peter'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/peter.jpg' alt='Peter Turcan'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>Peter Turcan<center></h4>
            <h5 class='text-xs card-subtitle'>Senior Technical Writer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/matt'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/matt.jpg' alt='Matt Borland'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>Matt Borland<center></h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/ruben'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/ruben.jpg' alt='Ruben Perez'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>Ruben Perez<center></h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/mohammad'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/mohammad.jpg' alt='Mohammad Nejati'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>Mohammad Nejati<center></h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/spencer'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/spencer.jpg' alt='Spencer Strickland'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>
Spencer Strickland<center></h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>
         
      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/fernando'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/fernando.jpg' alt='Fernando Pelliccioni'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>
Fernando Pelliccioni<center></h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      
 
  <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/braden'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/braden.jpg' alt='Braden Ganetsky'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'><center>
Braden Ganetsky<center></h4>
            <h5 class='text-xs card-subtitle'>Contributor</h5>
          </span>
        </a>
      </div>
            
</section>
  
  <!-- Our Alumni section-->
  <section class='section team alumni' id='alumni'>
    <div class='section-title'>
      <h2 class='header text-xl'>Alumni</h2>
      <h2 class='header-shadow dark'>Alumni</h2>
    </div>

    <div class='grid'>
      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/marshall'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/marshall.jpg' alt='Marshall Clow'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Marshall Clow</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/damian'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/damian.jpg' alt='Damian Jarek'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Damian Jarek</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/evan'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/evan.jpg' alt='Evan Lenz'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Evan Lenz</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/emil'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/emil.jpg' alt='Emil Dotchevski'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Emil Dotchevski</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/morissa'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/morissa.jpg' alt='Dr. Morissa Schwartz'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Dr. Morissa Schwartz</h4>
            <h5 class='text-xs card-subtitle'>Executive Team</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/seth'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/seth.jpg' alt='Seth Heeren'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Seth Heeren</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/glen'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/glen.jpg' alt='Glen Fernandes'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Glen Fernandes</h4>
            <h5 class='text-xs card-subtitle'>Technical Committee</h5>
          </span>
        </a>
      </div>

      <div class='col-third'>
        <a class='card' href='{{ site.baseurl }}/people/richard'>
          <div class='card-img-wrapper'>
            <img class='card-img' src='{{ site.baseurl }}/images/people/richard.jpg' alt='Richard Hodges'>
          </div>
          <span class='card-text'>
            <h4 class='text-m card-title'>Richard Hodges</h4>
            <h5 class='text-xs card-subtitle'>Staff Engineer</h5>
          </span>
        </a>
      </div>
    
  </section>

  <!-- News section-->
  <section class="section news" id='news'>
    <div class='section-title'>
      <h2 class='header text-xl'>News</h2>
      <h2 class='header-shadow'>News</h2>
    </div>
    <a class="rss" href="{{ site.baseurl }}/feed.xml">
      <img alt="RSS feed" class="icon-size" src="{{ site.baseurl }}/images/icons/rss.svg">
    </a>
    <div class='news-content formatted-text'>
      <ul>
        {% for post in site.posts limit:6 %}
        <li class='news-list-item'>
          <span class='text-s news-date'>{{ post.date | date: "%m/%d/%Y"}}</span>
          <a class='text-l news-title link' href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        <li>
          <a class='text-l all link' href="{{site.baseurl}}/news/">View All News...</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Links section-->

  <section class="section links" id='links'>
    <div class='section-title'>
      <h2 class='header text-xl'>Links</h2>
      <h2 class='header-shadow'>Links</h2>
    </div>
    <div class='links-content formatted-text'>
      <ul>
        <li class='link-item'>
          <a class='text-l link' href="http://cppalliance.org/slack">C++ Language Slack Workspace</a>
        </li>
        <li class='link-item'>
          <a class='text-l link' href="http://cppreference.com">C++ Language Reference</a>
        </li>
        <li class='link-item'>
          <a class='text-l link' href="http://www.open-std.org/jtc1/sc22/wg21/">JTC1/SC22/WG21 - The C++ Standards Committee</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- FAQs section-->
  <section class="section faq" id="faq">
    <div class='section-title'>
      <h2 class='header text-xl'>FAQ</h2>
      <h2 class='header-shadow'>FAQ</h2>
    </div>

    <div class='formatted-text faq-content'>
      
      <h3 class="text-m section-subheader">Given the existence of Standard C++ Foundation and Software Freedom Conservancy, why was it necessary to form The C++ Alliance as a new, separate legal entity?</h3>
      
      <p class='text-xxs'>Although the missions of Standard C++ Foundation and The C++ Alliance are similar and overlapping, they have different status under tax law. The Foundation is organized as a 501(c)(6) organization, a trade group. In addition to providing legal protection for companies to work together in ways that might otherwise be viewed as industrial "collusion," a trade group can accept tax-deductible dues from member companies. The Alliance is organized as a 501(c)(3) organization, a charity which can accept tax deductible contributions from the general public.</p>
      <p class='text-xxs'>Although the tax status of Software Freedom Conservancy and The C++ Alliance are similar, their missions and concerns are different. There is mission overlap. Conservancy, whose mission is to support the development of FLOSS libraries, supports the Boost Libraries project, which would also be within the mission of The Alliance, but The Alliance has both a narrower and a broader mission. While Conservancy is language agnostic and is focused on software development, The Alliance is focused exclusively on the C++ environment and is free to support non-FLOSS projects such as language proposals, books, education materials, tools, or other projects which may not be software or may have non-FLOSS licensing.</p>
      <p class='text-xxs'>It is also the case that The C++ Alliance is not a good fit as a Conservancy project. It is appropriate for small non-proprietary projects to pool their resources to provide themselves with financial, legal, accounting, and other services for which they have a common need and for which they may, individually, be too small to economically procure. Although the Alliance will be promoting library development, it doesn't have the same requirements as a FLOSS software producer, so would need different services than your typical Conservancy project and has sufficient endowment to fund the services that it will require.</p>
    
    </div>

    <br />

    <div class='formatted-text faq-content'>
      
      <h3 class="text-m section-subheader">C++ Alliance Gift Acceptance Policy</h3>

      <p class='text-xs'>Introduction</p>

      <p class='text-xxs'>The C++ Alliance appreciates the support of its community and recognizes the importance of donations in achieving its mission to support the development and advancement of C++ standards and projects. This policy outlines the principles and guidelines for accepting gifts.</p>
      
      <p class='text-xs'>Federal and State Identification</p>

      <p class='text-xxs'>
        501(c)(3) Status: The C++ Alliance is a registered 501(c)(3) nonprofit organization, making donations tax-deductible to the extent allowed by law.
        Federal ID Tax Number: 82-2439331
        Corporate or Organization Number: 4057027
      </p>
      
      <p class='text-xs'>Accepted Forms of Donations</p>

      <p class='text-xxs'>
        Checks or Money Orders: Donations via checks or money orders are welcome. These should be made payable to The C++ Alliance.
        Digital Currency: We accept donations in Bitcoin (BTC). Instructions for making a Bitcoin donation will be provided upon request to ensure secure and proper handling.
        Other Forms of Donation: At this time, The C++ Alliance is limited in its ability to accept non-monetary gifts or donations in kind. However, potential donors are encouraged to contact us to discuss any such contributions.
      </p>

      <p class='text-xs'>Restrictions and Conditions</p>

      <p class='text-xxs'>
        Unrestricted Gifts: Unrestricted gifts are greatly appreciated as they allow the organization to allocate funds where they are most needed to support our mission.
        Restricted Gifts: Currently, The C++ Alliance prefers not to accept donations with significant restrictions or conditions due to the potential for added administrative complexity. Donors wishing to make a restricted gift should contact the organization to discuss the possibility and ensure alignment with our mission and capabilities.
      </p>

      <p class='text-xs'>Donor Recognition</p>
        
      <p class='text-xxs'>The C++ Alliance values each contribution and will acknowledge all donations in accordance with the donor's wishes for recognition or anonymity.</p>
      
      <p class='text-xs'>Review and Amendments</p>

      <p class='text-xxs'>This policy is subject to review and amendment by The C++ Alliance's board of directors to ensure it continues to serve the best interests of the organization and its community.</p>

      <p class='text-xs'>Contact Information</p>
      
      <p class='text-xxs'>Donors with questions or who wish to discuss potential donations are encouraged to contact us <a href='mailto:{{ 'info@cppalliance.org' | encode_email }}'>info@cppalliance.org</a>.</p>

    </div>

  </section>

</div>

{% include contact.html %}
