---
layout: default
title: News
---
{% include top-title.html heading="News" %}

<!-- News -->
<section class="innerSection innerBlogContainer">
	<div class="container">
    	<div class="row">
    	<div class="col-lg-12 blogInner">

        {% for post in site.posts %}
        <div class="blogContainer">
        <span>{{ post.date | date: "%m/%d/%Y"}}</span>
        <a class="innerboldTxt" href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt }}</p>
        </div>
        {% endfor %}

        </div>
        </div>
    </div>
</section>
