---
layout: default
nav-class: dark
title: Latest News | The C++ Alliance
---

<!-- News -->
<section class="section news-index">
  <div class="news-container">

    <div class='section-title'>
      <h2 class='header text-xl'>News</h2>
      <h2 class='header-shadow'>News</h2>
    </div>

    {% for post in site.posts %}
    <div class='news-wrapper'>
      <span class='news-date text-xs'>{{ post.date | date: "%m/%d/%Y"}}</span>
      <div class='flex-row'>
        <div class='news-text-wrapper'>
          <a class='news-title text-m' href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <p class='text-xxs'>{{ post.content | strip_html }}</p>
        </div>
        {% if post.hero-image %}
        <img class='news-image' src="{{site.baseurl}}/images/posts/{{ post.hero-image}}">
        {% endif %}
        <a class='text-xxs news-link' href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
