---
layout: team
title: Glen Fernandes
team-id: glen
team-title: Technical Committee
team-email: glen.fernandes@gmail.com
team-site: http://glenfernandes.com/
team-site-text: glenfernandes.com
team-resume: http://glenfernandes.com/glenfernandes.pdf
team-github: https://github.com/glenfe
team-linkedin: https://www.linkedin.com/in/glenfern/
team-facebook: https://facebook.com/glenfernandes
---
{% include team-bio.html %}

<p>
Glen Joseph Fernandes has worked at Intel and Microsoft as a
Software Engineer. He is the author of the Boost Align library,
a major contributor the the Boost Smart Pointers and Boost Core
libraries, and has also contributed to several other Boost C++
libraries. He is a contributor to the ISO C++ Standard by authoring
proposal papers and defect reports, and has two features accepted
for the upcoming C++20 standard (P0673R1, P0653R2). He lives with
his wife, Caroline, and daughter, Aeryn, in the US, graduated from
the University of Sydney, Australia, and before all that, lived in
New Zealand.
</p>

{% include team-blog.html %}
