---
layout: team
title: Marshall Clow
team-id: marshall
team-title: Staff Engineer
team-email: marshall@idio.com
team-site: https://cplusplusmusings.wordpress.com
team-site-text: cplusplusmusings.wordpress.com
team-stack-overflow: https://stackoverflow.com/users/992490/marshall-clow
team-github: https://github.com/mclow
team-linkedin: https://www.linkedin.com/in/marshall-clow-47284/
team-facebook: https://www.facebook.com/marshall.clow
---
{% include team-bio.html %}

<p>
    Marshall has been programming professionally for 35 years.
    He is the author of Boost.Algorithm, and has been a contributor
    to Boost for more than 15 years. He is the chairman of the Library
    working group of the C++ standard committee. He is the lead developer
    for libc++, the C++ standard library for LLVM.
</p>

{% include team-blog.html %}
