---
layout: team
title: Rene Rivera
team-id: rene
team-title: Board Member
team-email: grafikrobot@gmail.com
team-site: https://boostorg.github.io/build/
team-site-text: boostorg.github.io/build
team-stack-overflow: https://stackoverflow.com/users/318688/grafikrobot
team-github: https://github.com/grafikrobot
team-linkedin: https://www.linkedin.com/in/rrivera/
team-twitter: https://twitter.com/grafikrobot
---
{% include team-bio.html %}

<p>
    René Rivera is a contributor to the Boost C++ Libraries and was part
    of the Release Team, was Testing Manager, and is the author of Boost
    Predef and Boost Build. He has worked in the game development field
    since 1998 and has been doing C++ since 1987. He is a co-organizer for
    the Chicago C/C++ Users Group. Currently he is a Lead Programmer at
    Disbelief LLC doing contracting for companies doing AAA games and
    virtual reality development.
</p>

{% include team-blog.html %}
