---
layout: team
title: Vinnie Falco
team-id: vinnie
team-title: Board Member
team-email: vinnie.falco@gmail.com
team-site: http://vinniefalco.github.io
team-site-text: vinniefalco.github.io
team-resume: https://vinniefalco.github.io/2017_12_27%20Resume%20for%20Vinnie%20Falco.pdf
team-stack-overflow: https://stackoverflow.com/users/150679/vinnie-falco
team-github: https://github.com/vinniefalco
team-linkedin: https://www.linkedin.com/in/vinnie-falco/
team-twitter: https://twitter.com/FalcoVinnie
---
{% include team-bio.html %}

<p>
With 35 years of programming experience (25 years with C++), and
10 years experience with managing technology startups, Vinnie provides
a strong vision and technical leadership to the organization. His
open source accomplishments include Boost.Beast, NuDB, DSPFilters,
and extensive contribution to Ripple. He is also known for authoring
the BearShare file sharing application in 2001.
</p>

{% include team-blog.html %}
