<!-- Connect with us section-->
<section class="section connect socials" id="contact">
  <div class='section-content'>
    <div class='section-title'>
      <h2 class='header text-xl'>Contact</h2>
      <h2 class='header-shadow center'>Contact</h2>
    </div>
    <div class='connect-content'>
      <div class='row row-sm'>
        <div class='col-fourth col-fourth-sm'>
          <a class='social-icon' href="https://github.com/CPPAlliance">
            <div class='social-icon-img-wrapper'>
              <img class='social-icon-img github' alt='github-logo' src='{{ site.baseurl }}/images/icons/github.svg' />
            </div>
            <span class='social-icon-text'>GitHub</span>
          </a>
        </div>
        <div class='col-fourth col-fourth-sm'>
          <a class='social-icon' href="https://www.facebook.com/CPPAlliance/">
            <div class='social-icon-img-wrapper'>
              <img class='social-icon-img facebook' alt='facebook-logo' src='{{ site.baseurl }}/images/icons/facebook.svg' />
            </div>
            <span class='social-icon-text'>Facebook</span>
          </a>
        </div>
        <div class='col-fourth col-fourth-sm'>
          <a class='social-icon' href="https://twitter.com/cppalliance">
            <div class='social-icon-img-wrapper'>
              <img class='social-icon-img twitter' alt='twitter-logo' src='{{ site.baseurl }}/images/icons/twitter.svg' />
            </div>
            <span class='social-icon-text'>Twitter</span>
          </a>
        </div>
        <div class='col-fourth col-fourth-sm'>
          <a class='social-icon' href="https://www.linkedin.com/in/cppalliance/">
            <div class='social-icon-img-wrapper'>
              <img class='social-icon-img linkedin' alt='linkedin-logo' src='{{ site.baseurl }}/images/icons/linkedin.svg' />
            </div>
            <span class='social-icon-text'>LinkedIn</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>