<!-- Blog posts authored by the current team member -->
{% assign author_posts = site.categories[page.id] %}
{% if author_posts and author_posts.size > 0 %}
<div class="member-posts">
  <p class="text-xxs member-posts-heading">Blog posts</p>
  <ul class="member-posts-list">
    {% for post in author_posts %}
    <li class="member-posts-item">
      <a class="member-posts-link" href="{{ site.baseurl }}{{ post.url }}">
        <strong class="member-posts-date">{{ post.date | date: "%m/%d/%Y" }}</strong>
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
