
      <div class='social-icons'>
        {% if page.email %}
        <a href="mailto:{{ page.email | encode_email }}"><img class='social-icon email' src="{{ site.baseurl }}/images/icons/email-gold.svg" /></a>
        {% endif %}
        {% if page.site %}
        <a href="{{ page.site }}"><img class='social-icon web' src="{{ site.baseurl }}/images/icons/web-gold.svg" /></a>
        {% endif %}
        {% if page.resume %}
        <a href="{{ page.resume }}"><img class='social-icon resume' src="{{ site.baseurl }}/images/icons/resume-gold.svg" /></a>
        {% endif %}
        {% if page.stack-overflow %}
        <a href="{{ page.stack-overflow }}"><img class='social-icon stack' src="{{ site.baseurl }}/images/icons/stack-overflow-gold.svg" /></a>
        {% endif %}
        {% if page.github %}
        <a href="{{ page.github }}"><img class='social-icon github' src="{{ site.baseurl }}/images/icons/github-gold.svg" /></a>
        {% endif %}
        {% if page.linkedin %}
        <a href="{{ page.linkedin }}"><img class='social-icon linkedin' src="{{ site.baseurl }}/images/icons/linkedin-gold.svg" /></a>
        {% endif %}
        {% if page.twitter %}
        <a href="{{ page.twitter }}"><img class='social-icon twitter' src="{{ site.baseurl }}/images/icons/twitter-gold.svg" /></a>
        {% endif %}
      </div>

