<!-- Blog section-->
{% assign n = site.categories[{{page.id}}] | size %}
{% if n != 0 %}
<section class="section news">
  <div class='section-title'>
    <h2 class='header text-xl'>Blog</h2>
    <h2 class='header-shadow'>Blog</h2>
  </div>
  <ul>
  {% for post in site.categories[{{page.id}}] %}
    <li class='news-list-item'>
      <span class='text-s news-date'>{{ post.date | date: "%m/%d/%Y"}}</span>
      <a class='text-l news-title link' href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    </li class='news-list-item'>
  {% endfor %}
  </ul>
</section>
{% endif %}
