<!-- member info section-->
<section class="innerSection innerBlogContainer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3>{{ page.title }}</h3>
        <p class="subhead">{{ page.team-title }}</p>
        <p class="emailS">
          {% if page.team-email %}
          <a href="mailto:{{ page.team-email }}">{{ page.team-email }}</a> |
          {% endif %}
          {% if page.team-site %}
          <a href="{{ page.team-site }}">{{ page.team-site-text }}</a> |
          {% endif %}
          {% if page.team-resume %}
          <a href="{{ page.team-resume }}"><i class="fa fa-file-text"></i></a>
          {% endif %}
          {% if page.team-stack-overflow %}
          <a href="{{ page.team-stack-overflow }}"><i class="fa fa-stack-overflow"></i></a>
          {% endif %}
          {% if page.team-github %}
          <a href="{{ page.team-github }}"><i class="fa fa-github"></i></a>
          {% endif %}
          {% if page.team-linkedin %}
          <a href="{{ page.team-linkedin }}"><i class="fa fa-linkedin"></i></a>
          {% endif %}
          {% if page.team-twitter %}
          <a href="{{ page.team-twitter }}"><i class="fa fa-twitter"></i></a>
          {% endif %}
          {% if page.team-facebook %}
          <a href="{{ page.team-facebook }}"><i class="fa fa-facebook"></i></a>
          {% endif %}
        </p>
        <div class="contentTxt">
