        </div>
      </div>
      <div class="col-lg-4 imgResposive">
        <img src="/people/{{ page.team-id }}.jpg" alt="{{ page.title }}"/>
      </div>
    </div>
  </div>
</section>

<!-- Blog section-->
{% assign n = site.categories[{{page.team-id}}] | size %}
{% if n != 0 %} 
<section class="innerSection innerBlogContainer">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 blogInner">
    <h3>Blog</h3>

    {% for post in site.categories[{{page.team-id}}] %}
    <div class="blogContainer">
    <span>{{ post.date | date: "%m/%d/%Y"}}</span>
    <a class="innerboldTxt" href="{{ post.url }}">{{ post.title }}</a>
    <p>{{ post.excerpt }}</p>
    </div>
    {% endfor %}

    </div>
    </div>
    </div>
</section>
{% endif %}
