.footer {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color--black;
  flex-direction: column;

  @include breakpoint($desktop-small) {
    height: 130px;
  }

  @include breakpoint($desktop-large) {
    height: 200px;
  }

  .email {
    vertical-align: middle;
    width: 104px;

    @include breakpoint($desktop-small) {
      width: 133px;
    }
    @include breakpoint($desktop-large) {
      width: 157px;
    }
  }

  .footer-text,
  a {
    font-size: 0.625rem; /* 10px */
    color: $color--white;
    font-weight: 400;

    @include breakpoint($desktop-small) {
      font-size: 0.75rem; /* 12px */
    }

    @include breakpoint($desktop-large) {
      font-size: 1rem; /* 12px */
    }
  }

  .footer-text {
    text-align: center;
  }

  a {
    font-weight: 700;
  }

  .line {
    display: block;

    @include breakpoint($desktop-small) {
      display: inline-block;
    }
  }
}
