.hero {
  height: calc(100vh);
  width: 100vw;
  background: url('/images/hero-bg-mobile.png') no-repeat center/cover;
  /*background: url('/images/hero-bg-mobile.png') no-repeat center/cover;*/ /* will need to update for prod */
  position: relative;

  @include breakpoint($desktop-small) {
    height: 670px;
    background: url('/images/hero-bg.png') no-repeat center/cover;
    /*background: url('/images/hero-bg.png') no-repeat center/cover;*/ /* will need to update for prod */
  }

  @include breakpoint($desktop-large) {
    height: 800px;
  }

  .titles {
    position: absolute;
    left: 50%;
    top: calc(50% - 25px);
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);

    @include breakpoint($desktop-small) {
      top: 50%;
    }
  }

  .main-header {
    margin-bottom: $spacing--xs;

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--m;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: $spacing--xxs;
    }
  }

  .sub-header {
    color: $color--white;
  }
}