#body {
  &.locked {
    overflow: hidden;
  }
}

.content {
  padding: $spacing--s 0;


  @include breakpoint($desktop-small) {
    padding: $spacing--xxl 0;
  }

  @include breakpoint($desktop-large) {
    padding: 60px 0;
  }
}

.section {
  padding: 50px $spacing--l;


  @include breakpoint($desktop-small) {
    padding: 60px 100px;
  }

  @include breakpoint($desktop-large) {
    padding: 90px 245px;
  }

  .section-title {
    position: relative;
    display: inline-block;
    margin-bottom: $spacing--xs;

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--m;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: 35px;
    }
  }

  .header {
    color: $color--gold;
    position: relative;
    z-index: $z-top;
  }

  .header-shadow {
    position: absolute;
    bottom: 30%;
    left:calc(50% + 30px);
    transform: translateX(-50%);

    &.center {
      left: 50%;
    }
  }

  .section-subheader {
    margin-bottom: $spacing--s;

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--l;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: 35px;
    }
  }
}

/* for items that must wrap */
.grid {
  display: flex;
  flex-wrap: wrap;
}

/* for items that consistently stay in a row */
.row {
  &.row-sm {
    display: flex;
  }

  @include breakpoint($desktop-small) {
      display: flex;
  }
}

.col-half {
  width: 100%;

  @include breakpoint($desktop-small) {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

/* 1 column mobile - 2 column tablet - 3 column desktop */
.col-third {
  margin-bottom: 35px;
  vertical-align: top;
  width: 100%;

  @include breakpoint($tablet) {
    width: calc(50% - 17px);
    padding: 0 17px;
    display: inline-block;

    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-right: 0;
    }
  }

  @include breakpoint($desktop-small) {
    width: calc(33.33% - 16px);
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
    margin-bottom: $spacing--l;

    &:nth-child(odd),
    &:nth-child(even) {
      padding: 0 12px;
    }

    &:nth-child(3n+1) {
      padding-left: 0;
    }

    &:nth-child(3n+3) {
      padding-right: 0;
    }
  }

  @include breakpoint($desktop-large) {
    padding: 0 17px;
    margin-bottom: 35px;
    width: calc(33.33% - 23px);

    &:nth-child(odd),
    &:nth-child(even) {
      padding: 0 17px;
    }

    &:nth-child(3n+1) {
      padding-left: 0;
    }

    &:nth-child(3n+3) {
      padding-right: 0;
    }
  }
}

.col-fourth {
  width: 100%;

  &.col-fourth-sm {
    width: 25%;
    display: inline-block;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @include breakpoint($tablet) {
    width: calc(50% - 20px);
    display: inline-block;
    padding: 0 $spacing--m;

    &:first-child,
    &:nth-child(3) {
      padding-left: 0;
    }

    &:nth-child(2),
    &:last-child {
      padding-right: 0;
    }
  }

  @include breakpoint($desktop-small) {
    width: calc(25% - 83px);
    display: inline-block;
    vertical-align: top;
    padding: 0 55px;

    &:nth-child(2),
    &:nth-child(3) {
      padding: 0 55px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.generated-content {
  h1 {
    font-weight: 700;
    font-size: 1.25rem; /* 20px */
    padding: 10px 0;

    @include breakpoint($desktop-small) {
      font-size: 2rem; /* 32px */
    }
  }
  h2 {
    font-weight: 700;
    font-size:  1.125rem; /* 18px */
    padding: 10px 0;

    @include breakpoint($desktop-small) {
      font-size:  1.75rem; /* 28px */
    }
  }
  h3 {
    font-weight: 700;
    font-size: 1rem; /* 16px */
    padding: 10px 0;

    @include breakpoint($desktop-large) {
      font-size: 1.625rem; /* 26px */
    }
  }
  h4 {
    font-weight: 700;
    font-size: 1rem; /* 16px */
    padding: 10px 0;

    @include breakpoint($desktop-large) {
      font-size: 1.5rem; /* 24px */
    }
  }
  h5 {
    font-weight: 700;
    font-size: 0.875rem; /* 14px */
    padding: 10px 0;

    @include breakpoint($desktop-large) {
      font-size: 1.375rem; /* 22px */
    }
  }
  h6 {
    font-weight: 700;
    font-size: 0.875rem; /* 14px */
    padding: 10px 0;

    @include breakpoint($desktop-large) {
      font-size: 1.25rem; /* 20px */
    }
  }
  p {
    padding: 5px 0;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  em {
    font-weight: 700;
  }
  code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
  }
}

.mobile-only {
  @include breakpoint($desktop-small) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include breakpoint($desktop-small) {
    display: block;
  }
}
