.nav {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-above-top;

  @include breakpoint($desktop-small) {
    height: 120px;
  }

  &.dark {
    position: relative;
    background: $color--black;
  }

  .logo {
    width: 77px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $spacing--s;

    @include breakpoint($desktop-small) {
      width: 90px;
      left: $spacing--xl;
    }
  }

  .hamburger {
    position: absolute;
    top: 50%;
    right: $spacing--l;
    height: 22px;
    width: 30px;
    z-index: $z-above-top;
    transform: translateY(-50%);

    @include breakpoint($desktop-small) {
      display: none;
    }

    .hamburger-line {
      height: 4px;
      width: 30px;
      background: $color--white;
      position: absolute;
      left: 0;
      transition: $transition--primary;
      opacity: 1;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
      }
    }

    &.active {
      .hamburger-line {
        &:first-child {
          transform: rotate(45deg);
          top: 8px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 8px;
        }
      }
    }
  }

  .nav-items {
    position: fixed;
    top: -110vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $color--black;
    padding-top: 35px;
    text-align: center;
    transition: $transition-slow;
    display: none;
    box-sizing: border-box;

    &.active {
      top: 0;
      display: block;
    }

    @include breakpoint($desktop-small) {
      display: block;
      padding-top: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      width: auto;
      height: auto;
      background: transparent;
      text-align: right;

      &.active {
        top: 40px;
      }
    }
  }

  .nav-item {
    padding-top: 35px;

    @include breakpoint($desktop-small) {
      padding-top: 0;
      margin-right: 45px;
      display: inline-block;
    }

  }

  .nav-link { /* nav bar text */
    font-family: $font-family--roboto;
    font-weight: 700;
    color: $color--white;
    line-height: 1;
    font-size: 1.5rem;
    letter-spacing: 0.02em;

    @include breakpoint($desktop-small) {
      font-size: 1.25rem; /* 20px */
    }

    @include breakpoint($desktop-large) {
      font-size: 1.5rem; /* 24px */
    }
  }

  .social-link {
    display: flex;
    justify-content: center;
  }

  .socials {
    .connect-content {
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;

      @include breakpoint($desktop-small) {
        display: none;
      }
    }
  }
}