.news-container {
  margin-top: $spacing--xs;

  @include breakpoint($desktop-small) {
    margin-top: $spacing--l;
  }
  @include breakpoint($desktop-medium) {
    margin-top: 50px;
  }
  @include breakpoint($desktop-large) {
    margin-top: 70px;
    margin-bottom: $spacing--l;
  }
}

.news-wrapper {
  padding: $spacing--m 0;

  &:last-of-type {
    padding: $spacing--m 0 $spacing--xs;
  }

  @include breakpoint($desktop-small) {
    padding: $spacing--m 38% $spacing--m 0;
  }

  @include breakpoint($desktop-large) {
    padding: $spacing--m 30% $spacing--m 0;
  }


  .news-date {
    display: block;
    margin-bottom: $spacing--xxs;

    @include breakpoint($desktop-large) {
      margin-bottom: $spacing--s;
    }
  }

  .news-link {
    margin-top: $spacing--s;
    display: block;
    text-decoration: underline;

    @include breakpoint($desktop-small) {
      display: none;
    }
  }

  .news-text-wrapper {

    @include breakpoint($desktop-small) {
      flex: 1;
    }
  }

  .news-title {
    text-decoration: underline;
    margin-bottom: $spacing--s;
  }

  .flex-row {
    @include breakpoint($desktop-small) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .news-image {
    display: none;

    @include breakpoint($desktop-small) {
      display: block;
      width: 130px;
      height: 130px;
      object-fit: cover;
      margin-left: 30px;
    }

    @include breakpoint($desktop-large) {
      width: 200px;
      height: 200px;
    }
  }

  a {
    color: $color--black;
  }
}

.news-date {
  margin-bottom: -3px;

  @include breakpoint($desktop-small) {
    margin-bottom: 2px;
  }
}

.news-date,
.news-title {
  display: block;
}

.news-list-item {
  margin-bottom: $spacing--l;

  @include breakpoint($desktop-small) {
    margin-bottom: 35px;
  }

  @include breakpoint($desktop-large) {
    margin-bottom: 40px;
  }
}
