.slack {
  .slack-link,
  .section-title {
    margin-bottom: $spacing--m;

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--xl;
    }
  }

  .slack-paragraph {
    margin-bottom: $spacing--s;
  }

  .slack-list-item {
    margin-top: $spacing--l;
    h4, p {
      margin-bottom: $spacing--s;
    }
  }

  .header-shadow {
    white-space: nowrap;
  }

  .link {
    text-decoration: underline;
  }

  em {
    font-style: italic;
  }
}
