.section.connect {
  padding: 55px $spacing--l 50px;
  text-align: center;
  background: url('/images/contact-bg-mobile.png') no-repeat center/cover;

  @include breakpoint($desktop-small) {
    background: url('/images/contact-bg.png') no-repeat center/cover;
    height: calc(100vh - 130px);
    padding: 0;
    position: relative;
  }

  @include breakpoint($desktop-large) {
    height: calc(100vh - 200px);
  }

  .section-content {
    @include breakpoint($desktop-small) {
      position: absolute;
      text-align: center;
      width: 100%;
      top: calc(50% + 25px);
      transform: translateY(-50%);
    }

    @include breakpoint($desktop-large) {
      top: calc(50% + 40px);
    }
  }

  .section-title {
    margin-bottom: $spacing--m;

    @include breakpoint($desktop-small) {
      margin-bottom: 35px;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: 60px;
    }
  }

  .header-shadow {
    color: $color--white;
    opacity: 0.15;
  }
}

.socials {
  .connect-content {
    width: 270px;
    margin: 0 auto;

    @include breakpoint($desktop-small) {
      width: 780px;
    }

    @include breakpoint($desktop-large) {
      width: 1140px;
    }
  }

  .col-fourth {
    padding: 0;
  }

  .social-icon {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 52px;
    width: 52px;

    @include breakpoint($desktop-small) {
      height: 180px;
      width: 180px;
    }

    @include breakpoint($desktop-large) {
      height: 270px;
      width: 270px;
    }
  }

  .social-icon-img-wrapper {
    height: 25px;
    margin-bottom: $spacing--xxs;
    display: flex;
    align-items: flex-end;

    @include breakpoint($desktop-small) {
      height: 85px;
      margin-bottom: $spacing--s;
    }

    @include breakpoint($desktop-large) {
      height: 125px;
      margin-bottom: 30px;
    }
  }

  .social-icon-img {
    display: block;

    &.github {
      width: 27px;

      @include breakpoint($desktop-small) {
        width: 90px;
      }

      @include breakpoint($desktop-large) {
        width: 135px;
      }
    }

    &.facebook {
      width: 13px;

      @include breakpoint($desktop-small) {
        width: 45px;
      }

      @include breakpoint($desktop-large) {
        width: 63px;
      }
    }

    &.twitter {
      width: 23px;

      @include breakpoint($desktop-small) {
        width: 80px;
      }

      @include breakpoint($desktop-large) {
        width: 120px;
      }
    }

    &.linkedin{
      width: 24px;

      @include breakpoint($desktop-small) {
        width: 78px;
      }

      @include breakpoint($desktop-large) {
        width: 117px;
      }
    }
  }

  .social-icon-text {
    font-family: $font-family--roboto;
    font-weight: 700;
    color: $color--white;
    line-height: 1;
    font-size: 0.625rem; /* 10px */
    letter-spacing: 0.02em;

    @include breakpoint($desktop-small) {
      font-size: 1.25rem; /* 20px */
    }

    @include breakpoint($desktop-large) {
      font-size: 1.875rem; /* 30px */
    }
  }
}

