.mission {
  .mission-img {
    width: 100%;
    margin: $spacing--s auto 0;
    max-width: 600px;
    display: block;

    @include breakpoint($desktop-small) {
      margin: 0;
      position: relative;
      top: 90px;
    }

    @include breakpoint($desktop-large) {
      top: 160px;
    }
  }

  .col-right {
    text-align: right;
    box-sizing: border-box;

    @include breakpoint($desktop-small) {
      padding-left: 65px;
    }

    @include breakpoint($desktop-large) {
     padding-left: 105px;
    }
  }

  li:last-child {
    margin-bottom: $spacing--s;

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--m;
    }
  }
}

.sponsor {
  padding: 50px $spacing--l 90px;

  @include breakpoint($desktop-small) {
    padding: 65px 100px 55px;
  }

  @include breakpoint($desktop-large) {
    padding: 65px 245px 175px;
  }

  .section-title {
    margin-bottom: 30px;

    @include breakpoint($desktop-large) {
      margin-bottom: 50px;
    }
  }

  .sponsor-img {
    display: block;
    width: 75%;
    margin: $spacing--s auto 0;
    max-width: 600px;
    display: block;

    @include breakpoint($desktop-small) {
      margin: 0;
      position: relative;
      width: 50%;
      left: 190px;
      top: -45px;
    }

    @include breakpoint($desktop-large) {
      max-width: 410px;
      width: 59%;
      left: 200px;
      top: -65px;
    }
  }
}


.activities {
  padding: $spacing--xxl $spacing--l $spacing--xxl;

  @include breakpoint($desktop-small) {
    padding: 55px 100px 30px;
  }

  @include breakpoint($desktop-large) {
    padding: 75px 245px 50px;
  }

  .section-title {
    @include breakpoint($tablet) {
      margin-bottom: $spacing--l;
    }

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--xs;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: 40px;
    }
  }

  .activities-content {
    text-align: center;
  }

  .activity-title {
    line-height: 1;
    margin: $spacing--xs 0 $spacing--xs;

    @include breakpoint($desktop-small) {
      margin: $spacing--l 0 $spacing--s;
    }

    @include breakpoint($desktop-large) {
      margin: 50px 0 $spacing--s;
    }
  }

  .activity-col {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .activities-img-wrapper {

    @include breakpoint($tablet) {
      height: 115px;
    }

    @include breakpoint($desktop-small) {
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint($desktop-large) {
      height: 150px;
    }
  }

  .activities-img {

    &.libraries {
      height: 90px;

      @include breakpoint($desktop-small) {
        height: 95px;
      }

      @include breakpoint($desktop-large) {
        height: 150px;
      }
    }

    &.communities {
      height: 110px;

      @include breakpoint($desktop-small) {
        height: 105px;
      }

      @include breakpoint($desktop-large) {
        height: 150px;
      }
    }

    &.standards {
      height: 105px;

      @include breakpoint($desktop-small) {
        height: 105px;
      }

      @include breakpoint($desktop-large) {
        height: 150px;
      }
    }

    &.education {
      height: 80px;

      @include breakpoint($desktop-small) {
        height: 80px;
      }

      @include breakpoint($desktop-large) {
        height: 120px;
      }
    }
  }
}

.team {
  background: $color--black;
  padding: 75px $spacing--l 50px;

  @include breakpoint($desktop-small) {
    padding: 145px 100px 75px;
  }

  @include breakpoint($desktop-large) {
    padding: 220px 245px 185px;
  }

  .section-title {
    margin-bottom: $spacing--l;

    @include breakpoint($desktop-large) {
      margin-bottom: 60px;
    }
  }

  /* to solve uneven # of cards in a row */
  .row:last-child {
    .col-third:last-child {
      margin-bottom: 0;
    }
  }
}

.alumni {
  padding-top: 25px;
}

.news {
  padding: 55px $spacing--l 60px;

  @include breakpoint($desktop-small) {
    padding: 135px 100px 95px;
  }

  @include breakpoint($desktop-large) {
    padding: 190px 245px 160px;
  }

  .section-title {
    margin-bottom: $spacing--m;

    @include breakpoint($desktop-small) {
      margin-bottom: 40px;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: 55px;
    }
  }

  li {
    padding-left: 0;
  }

  .news-list-item {
    margin-bottom: $spacing--l;

    @include breakpoint($desktop-small) {
      margin-bottom: 35px;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: 40px;
    }
  }

  .all {
    margin-top: $spacing--xxl;
    display: block;

    @include breakpoint($desktop-small) {
      margin-top: 60px;
    }

    @include breakpoint($desktop-large) {
      margin-top: 90px;
    }
  }

  li:before {
    content: none;
  }
}

.links {
  background: $color--gray;
  padding: 65px $spacing--l;

  @include breakpoint($desktop-small) {
    padding: 145px 100px 125px;
  }

  @include breakpoint($desktop-large) {
    padding: 230px 245px 200px;
  }

  .header-shadow {
    color: $color--slate;
  }

  .section-title {
    margin-bottom: $spacing--m;

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--xxl;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: 65px;
    }
  }

  .link-item {
    margin-bottom: $spacing--m;
    padding-left: 0;

    &:before {
      content: none;
    }

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--xl;
    }

    @include breakpoint($desktop-large) {
      margin-bottom: $spacing--xxl;
    }
  }
}

.faq {
  padding: 65px $spacing--l $spacing--xxl;

  @include breakpoint($desktop-small) {
    padding: 130px 100px 60px;
  }

  @include breakpoint($desktop-large) {
    padding: 215px 245px 135px;
  }

  .section-title {
    margin-bottom: $spacing--m;

    @include breakpoint($desktop-large) {
      margin-bottom: $spacing--xxl;
    }

  }

  .faq-content {

    @include breakpoint($desktop-small) {
      max-width: 770px;
    }

    @include breakpoint($desktop-large) {
      max-width: 1345px;
    }
  }
}