.post {

  @include breakpoint($desktop-small) {
    display: flex;
    min-height: calc(100vh - 75px - 130px); /* 100vh - header - footer */
  }

  @include breakpoint($desktop-large) {
    min-height: calc(100vh - 100px - 200px); /* 100vh - header - footer */
  }

  .current-article {
    @include breakpoint($desktop-small) {
      width: 66%;
    }

    .news-title {
      @include breakpoint($desktop-small) {
        font-size: 2rem;
      }
    }
  }

  .post-hero {
    height: 220px;
    width: 100%;
    object-fit: cover;

    @include breakpoint($desktop-small) {
      height: 710px;
    }
  }

  .article {
    position: relative;
    padding: $spacing--xxl $spacing--l 100px;

    @include breakpoint($desktop-small) {
       padding: 60px 100px 70px;
    }

    @include breakpoint($desktop-large) {
      padding: 80px 245px 95px;
    }
  }

  .caption {
    font-family: $font-family--roboto;
    font-weight: 400;
    font-size: 0.75rem; /* 12px */
    position: absolute;
    color: $color--stone;
    top: $spacing--xxs;
    left: $spacing--xxs;
    line-height: 1.25;

    @include breakpoint($desktop-small) {
      left: $spacing--m;
      top: $spacing--xs;
    }

    @include breakpoint($desktop-large) {
      font-size: 14px;
      left: $spacing--l;
      top: $spacing--xs;
    }
  }

  .news-title {
    margin-bottom: $spacing--s;
  }

  .author {
    margin-bottom: $spacing--m;
  }

  .author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;

    @include breakpoint($desktop-small) {
      height: 45px;
      width: 45px;
    }
  }

  .author-name {
    vertical-align: middle;
    margin-left: 2px;

   @include breakpoint($desktop-small) {
      margin-left: $spacing--xxs;
    }
  }

  .content-text {
    line-height: 1.4;
  }

  .news {
    background: $color--gray;
    padding: 40px $spacing--l 65px;

    @include breakpoint($desktop-small) {
      padding: 50px 60px;
      width: 34%;
    }

    .news-date {
      @include breakpoint($desktop-small) {
        display: none;
      }
    }

    .news-title {
      @include breakpoint($desktop-small) {
        font-size: 1.25rem;
      }

      @include breakpoint($desktop-large) {
        font-size: 1.875rem;
      }
    }
  }

  .recent-post-header {
    @include breakpoint($desktop-small) {
      font-size: 40px;
    }
  }

  .header-shadow {
    @include breakpoint($desktop-small) {
      display: none;
    }
  }

  .news-title,
  .all {
    @include breakpoint($desktop-small) {
      font-size: 1rem;
    }
  }

  .all {
    @include breakpoint($desktop-small) {
      margin-top: 55px;
    }
  }

  .news-list-item {
    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--l;
    }
  }

  .section-title {
    @include breakpoint($desktop-small) {
      margin-bottom: 35px;
    }
  }
}