.team-member {
  .team {
    padding: 50px $spacing--l 75px;
    background: $color--white;

    @include breakpoint($desktop-small) {
      padding: 85px 100px 150px;
    }

    @include breakpoint($desktop-large) {
      padding: 160px 245px 190px;
    }
  }

  .flex-row {
    @include breakpoint($desktop-small) {
      margin-top: 55px;
      display: flex;
      justify-content: space-between;
    }
  }

  .team-member-img-wrapper {
    @include breakpoint($desktop-small) {
      width: 35%;
      padding-bottom: 33%;
      height: 0;
      order: 2;
      position: relative;
      top: -$spacing--xxl;
    }
  }

  .team-member-img {
    height: 325px;
    margin-bottom: 40px;
    object-fit: cover;


    @include breakpoint($desktop-small) {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .title {
    margin: 3px 0 35px;

    @include breakpoint($desktop-small) {
      margin: $spacing--xxs 0 30px;
    }
  }

  .bio {
    @include breakpoint($desktop-small) {
      order: 1;
      width: 50%;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  .social-icon {
    width: 25px;
    margin-right: 30px;

    @include breakpoint($desktop-small) {
      width: 27px;
    }

    &.web {
      width: 23px;

      @include breakpoint($desktop-small) {
        width: 25px;
      }
    }

    &.resume {
      width: 21px;

      @include breakpoint($desktop-small) {
        width: 24px;
      }
    }

    &.stack,
    &.linkedin {
      width: 24px;
    }

    &.github {
      @include breakpoint($desktop-small) {
        width: 25px;
      }
    }


  }

  .all {
    margin-top: 40px;
    display: block;
    font-weight: 700;
    text-decoration: underline;

    @include breakpoint($desktop-small) {
      margin-top: 65px;
    }
  }

  .news {
    background: $color--gray;
    padding: 65px $spacing--l 40px;

    @include breakpoint($desktop-small) {
      padding: 150px 100px 95px;
    }

    @include breakpoint($desktop-large) {
      padding: 170px 245px 115px;
    }

    .header-shadow {
      color: $color--slate;
    }
  }
}
