.team-member {
  .team {
    padding: 50px $spacing--l 75px;
    background: $color--white;

    @include breakpoint($desktop-small) {
      padding: 85px 100px 150px;
    }

    @include breakpoint($desktop-large) {
      padding: 160px 245px 190px;
    }
  }

  .flex-row {
    @include breakpoint($desktop-small) {
      margin-top: 55px;
      display: flex;
      justify-content: space-between;
    }
  }

  .team-member-img-wrapper {
    @include breakpoint($desktop-small) {
      width: 35%;
      padding-bottom: 33%;
      height: 0;
      order: 2;
      position: relative;
      top: -$spacing--xxl;
    }
  }

  .team-member-img {
    height: 325px;
    margin-bottom: 40px;
    object-fit: cover;


    @include breakpoint($desktop-small) {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .title {
    margin: 3px 0 35px;
    display: block;

    @include breakpoint($desktop-small) {
      margin: $spacing--xxs 0 30px;
    }
  }

  .bio {
    @include breakpoint($desktop-small) {
      order: 1;
      width: 50%;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  .social-icon {
    width: 25px;
    margin-right: 30px;

    @include breakpoint($desktop-small) {
      width: 27px;
    }

    &.web {
      width: 23px;

      @include breakpoint($desktop-small) {
        width: 25px;
      }
    }

    &.resume {
      width: 21px;

      @include breakpoint($desktop-small) {
        width: 24px;
      }
    }

    &.stack,
    &.linkedin {
      width: 24px;
    }

    &.github {
      @include breakpoint($desktop-small) {
        width: 25px;
      }
    }


  }

  .all {
    margin-top: 40px;
    display: block;
    font-weight: 700;
    text-decoration: underline;

    @include breakpoint($desktop-small) {
      margin-top: 65px;
    }
  }

  .member-posts {
    margin-top: 32px;

    @include breakpoint($desktop-small) {
      margin-top: 40px;
    }
  }

  .member-posts-heading {
    margin-bottom: 12px;
    font-weight: 600;
  }

  .member-posts-list {
    margin: 0;
    padding-left: 18px;
    list-style: disc;
  }

  .member-posts-item {
    margin-bottom: 8px;
    line-height: 1.4;
  }

  .member-posts-link {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .member-posts-date {
    font-weight: 600;
    white-space: nowrap;
    display: inline;

    &::after {
      content: "\00a0";
    }
  }
}
