<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto:400,700,900" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
{% include favicon.html %}
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg  fixed-top topNavigation">
  <div class="container">
    <a class="navbar-brand" href="/"><img alt="The C++ Alliance" src="/images/logo.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li><a class="navigation__link" href="/#1">MISSION</a></li>
        <li><a class="navigation__link" href="/#2">TEAM</a></li>
        <li><a class="navigation__link" href="/#3">NEWS</a></li>
        <li><a class="navigation__link" href="/#4">RESOURCES</a></li>
        <li><a class="navigation__link" href="/#5">FAQ</a></li>
        <li><a class="navigation__link" href="/#6">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

{{ content }}

<footer class="footerBg">
<div class="container">
<p class="m-0 text-center text-white">Copyright &copy; 2018, The C Plus Plus Alliance, Inc.
<!-- <address> VF missing style -->
<br>Contact: <!-- <a href="mailto:info@cppalliance.org"> -->info@cppalliance.org <!-- </a> -->
<!-- </address> -->
</p>
</div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
