---
type: website
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.layout == 'post' and page.title %}{{page.title}} | The C++ Alliance{% else %}{{ page.title }}{% endif %}</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
{% include favicon.html %}
{% seo %}
</head>

<body id='body'>

  <!-- Navigation -->
  <nav class='nav {{page.nav-class}}'>
    <a href='{{ site.baseurl }}/'>
      <img class='logo' alt='cpp-alliance-logo' src='{{ site.baseurl }}/images/logo.svg' />
    </a>
    <div class='hamburger' id='nav-hamburger'>
      <span class='hamburger-line'></span>
      <span class='hamburger-line'></span>
      <span class='hamburger-line'></span>
    </div>
    <div class='nav-items' id='nav-items'>
      <div class="nav-item"><a class="nav-link nav-link-mobile" href="{{ site.baseurl }}/">Home</a></div>
      <div class="nav-item"><a class="nav-link nav-link-mobile" href="{{ site.baseurl }}/#mission">Mission</a></div>
      <div class="nav-item"><a class="nav-link nav-link-mobile" href="{{ site.baseurl }}/#team">Team</a></div>
      <div class="nav-item"><a class="nav-link nav-link-mobile" href="{{ site.baseurl }}/#news">News</a></div>
      <div class="nav-item"><a class="nav-link nav-link-mobile" href="{{ site.baseurl }}/#links">Links</a></div>
      <div class="nav-item"><a class="nav-link nav-link-mobile" href="{{ site.baseurl }}/#faq">FAQ</a></div>
      <div class="nav-item"><a class="nav-link nav-link-mobile" href="{{ site.baseurl }}/#contact">Contact</a></div>
      <div class='socials'>
        <div class='connect-content'>
          <div class='row row-sm'>
            <div class='col-fourth col-fourth-sm social-link'>
              <a class='social-icon nav-link-mobile' href="https://github.com/CPPAlliance">
                <div class='social-icon-img-wrapper'>
                  <img class='social-icon-img github' alt='github-logo' src='{{ site.baseurl }}/images/icons/github.svg' />
                </div>
                <span class='social-icon-text'>GitHub</span>
              </a>
            </div>
            <div class='col-fourth col-fourth-sm social-link'>
              <a class='social-icon nav-link-mobile' href="https://www.facebook.com/CPPAlliance/">
                <div class='social-icon-img-wrapper'>
                  <img class='social-icon-img facebook' alt='facebook-logo' src='{{ site.baseurl }}/images/icons/facebook.svg' />
                </div>
                <span class='social-icon-text'>Facebook</span>
              </a>
            </div>
            <div class='col-fourth col-fourth-sm social-link'>
              <a class='social-icon nav-link-mobile' href="https://twitter.com/cppalliance">
                <div class='social-icon-img-wrapper'>
                  <img class='social-icon-img twitter' alt='twitter-logo' src='{{ site.baseurl }}/images/icons/twitter.svg' />
                </div>
                <span class='social-icon-text'>Twitter</span>
              </a>
            </div>
            <div class='col-fourth col-fourth-sm social-link'>
              <a class='social-icon nav-link-mobile' href="https://www.linkedin.com/in/cppalliance/">
                <div class='social-icon-img-wrapper'>
                  <img class='social-icon-img linkedin' alt='linkedin-logo' src='{{ site.baseurl }}/images/icons/linkedin.svg' />
                </div>
                <span class='social-icon-text'>LinkedIn</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {{ content }}

  <footer class='footer'>
    <p class='text-xxs footer-text'>
      <span class='line'>&copy; 2018 The C Plus Plus Alliance, Inc.</span>
      <span class='line'>Contact us at: <a href='mailto:{{ 'info@cppalliance.com' | encode_email }}'><img class='email' alt='email-links' src='{{ site.baseurl }}/images/email.svg' /></a></span>
    </p>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{{ site.baseurl }}/js/main.js'></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76438364-18', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
