---
layout: default
type: website
---
<div class='team-member'>
  <section class='section team'>
    <div class='section-title'>
      <h2 class='header text-xl'>Team</h2>
      <h2 class='header-shadow'>Team</h2>
    </div>
    <div class='flex-row'>
      <!-- member info section-->
      <!-- member image-->
      <div class='team-member-img-wrapper'>
        <img class='team-member-img' src="{{ site.baseurl }}/images/people/{{ page.id }}.jpg" alt="{{ page.member-name }}" />
      </div>

      <div class='bio'>
        <h3 class='text-m name'>{{ page.member-name }}</h3>
        <span class="text-xs title">{{ page.position }}</span>

        {% include team-bio.html %}

        <!-- member bio-->
        <div class='text-xxs generated-content'>{{ content }}</div>

        <a class='text-xxs all' href="{{ site.baseurl }}/#team">View Full Team...</a>
      </div>
    </div>
  </section>

  {% include team-blog.html %}

</div>
