// Fonts
$font-family--roboto        : "Roboto", sans-serif;

$font-size--primary         : 16px;

// General Colors
$color--black               : #000000;
$color--faded-black         : rgba(25,25,25,0.7);
$color--white               : #FFFFFF;
$color--gold                : #C38750;
$color--light               : #F7F7F7;
$color--gray                : #ECECEC;
$color--stone               : #9A9A9A;
$color--gray-dark           : #242424;
$color--slate               : #E1DFDF;

// Transitions
$transition--primary        : all 0.3s ease;
$transition--secondary      : all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
$transition-fast            : all 0.2s ease;
$transition-slow            : all 0.8s ease;

// Responsive
$phone-small                : 320px;
$phone-medium               : 480px;
$phone-large                : 512px;
$phone-xlarge               : 640px;
$tablet                     : 768px;
$desktop-small              : 1024px;
$desktop-medium             : 1280px;
$desktop-large              : 1440px;
$mobile                     : $desktop-small;

// General dimensions and spacing
$spacing--xxs               : 5px;
$spacing--xs                : 10px;
$spacing--s                 : 15px;
$spacing--m                 : 20px;
$spacing--l                 : 25px;
$spacing--xl                : 30px;
$spacing--xxl               : 45px;

// Z-index
$z-below-bottom             : -1;
$z-bottom                   : 0;
$z-middle-bottom            : 5;
$z-middle                   : 10;
$z-middle-top               : 15;
$z-top                      : 1000;
$z-above-top                : 1005;

$primary-color: #6f777d !default;
$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;
$border-color: $lighter-gray !default;
$info-color: #3b9cba !default;

/* links */
$link-color: mix(#000, $info-color, 20%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;

$border-radius: 4px !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px