// Fonts
$font-family--roboto        : "Roboto", sans-serif;

$font-size--primary         : 16px;

// General Colors
$color--black               : #000000;
$color--faded-black         : rgba(25,25,25,0.7);
$color--white               : #FFFFFF;
$color--gold                : #C38750;
$color--light               : #F7F7F7;
$color--gray                : #ECECEC;
$color--stone               : #9A9A9A;
$color--gray-dark           : #242424;
$color--slate               : #E1DFDF;

// Transitions
$transition--primary        : all 0.3s ease;
$transition--secondary      : all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
$transition-fast            : all 0.2s ease;
$transition-slow            : all 0.8s ease;

// Responsive
$phone-small                : 320px;
$phone-medium               : 480px;
$phone-large                : 512px;
$phone-xlarge               : 640px;
$tablet                     : 768px;
$desktop-small              : 1024px;
$desktop-medium             : 1280px;
$desktop-large              : 1440px;
$mobile                     : $desktop-small;

// General dimensions and spacing
$spacing--xxs               : 5px;
$spacing--xs                : 10px;
$spacing--s                 : 15px;
$spacing--m                 : 20px;
$spacing--l                 : 25px;
$spacing--xl                : 30px;
$spacing--xxl               : 45px;

// Z-index
$z-below-bottom             : -1;
$z-bottom                   : 0;
$z-middle-bottom            : 5;
$z-middle                   : 10;
$z-middle-top               : 15;
$z-top                      : 1000;
$z-above-top                : 1005;
