// General
html {
  font-size: $font-size--primary;
}

body {
  background: $color--white;
  color: $color--black;
  font-family: $font-family--roboto;
  font-size: $font-size--primary;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}


// Base Text Styles

.text-xxl { /* hero main header */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--gold;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 2.5rem; /* 40px */

  @include breakpoint($desktop-small) {
    font-size: 5rem; /* 80px */
  }

  @include breakpoint($desktop-large) {
    font-size: 7.5rem; /* 120px */
  }
}

.text-xl { /* hero subheader, section header  */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--black;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 1.875rem; /* 30px */

  @include breakpoint($desktop-small) {
    font-size: 2.5rem; /* 40px */
  }

  @include breakpoint($desktop-large) {
    font-size: 3.75rem; /* 60px */
  }
}

.text-l { /* link lists */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--black;
  line-height: 1.33;
  letter-spacing: 0.02em;
  font-size: 1.25rem; /* 20px */

  @include breakpoint($desktop-large) {
    font-size: 2.063rem; /* 33px */
  }
}

.text-m { /* section subheader */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--black;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 1.25rem; /* 20px */

  @include breakpoint($desktop-large) {
    font-size: 1.875rem; /* 30px */
  }
}

.text-s { /* dates */
  font-family: $font-family--roboto;
  font-weight: 400;
  color: $color--gold;
  line-height: 1.7;
  letter-spacing: 0.02em;
  font-size: 0.875rem; /* 14px */

  @include breakpoint($desktop-large) {
    font-size: 1.625rem; /* 26px */
  }
}

.text-xs { /* team member titles */
  font-family: $font-family--roboto;
  font-weight: 400;
  color: $color--gold;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 0.875rem; /* 14px */

  @include breakpoint($desktop-large) {
    font-size: 1.5rem; /* 24px */
  }
}

.text-xxs { /* paragraphs */
  font-family: $font-family--roboto;
  font-weight: 400;
  color: $color--black;
  line-height: 1.25;
  letter-spacing: 0.02em;
  font-size: 0.875rem; /* 14px */

  @include breakpoint($desktop-small) {
    font-size: 0.9rem;
  }

  @include breakpoint($desktop-large) {
    line-height: 1.5;
    font-size: 1rem; /* 16px */
  }

  a {
    font-weight: 700;
    text-decoration: underline;
    color: $color--black;
  }
}


// Specialty Text Styles

.header-shadow { /* faded section header */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--light;
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 3.625rem; /* 58px */

  &.dark {
    color: $color--gray-dark;
  }

  @include breakpoint($desktop-small) {
    font-size: 5.813rem; /* 93px */
  }

  @include breakpoint($desktop-large) {
    font-size: 8.75rem; /* 140px */
  }
}

.all {
  font-size: 0.875rem;

  @include breakpoint($desktop-small) {
    font-size: 0.9rem;
  }

  @include breakpoint($desktop-large) {
    font-size: 1rem;
  }
}

.formatted-text {
  @include breakpoint($desktop-small) {
    margin-bottom: $spacing--m;
  }

  p,
  li {
    margin-bottom: $spacing--s;

    @include breakpoint($desktop-small) {
      margin-bottom: $spacing--s;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    position: relative;
    padding-left: $spacing--l;

    @include breakpoint($desktop-large) {
      padding-left: 35px;
    }
  }

  li:before {
    content: '•';
    color: $color--gold;
    font-size: 2em;
    position: absolute;
    top: 9px;
    left: 0;
    line-height: 0;

    @include breakpoint($desktop-small) {
      top: 8px;
    }

    @include breakpoint($desktop-large) {
      top: 12px;
    }
  }
}

a {
  text-decoration: none;
}

.link {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}
